<a id='home'></a>
### purpose

* I need range-wide climate data to fit trained gradient forest models to current/future climate

* transform downloaded AdaptWest/ClimateNA data (Tongli et al. 2016 - NOT 2021!!) gridded climate data from Lambert conformal to WGS84
* then extract climate data within the boundaries of the updated species range (see ../02_update_species_range_shapefiles.ipynb)

### outline
1. [create directory structure for new files](#create)

2. [unzip AdaptWest NA_NORM_1961-1990 7z files into netCDF files for each env](#unzip)

3. [convert netCDF files to WGS84](#convert)

4. [crop each netCDF file to each species' shapefile](#crop)

- then convert to dataframe and save as .txt file

5. [combine each species file into a single dataframe](#combine)

- combine

6. [save combined files](#save)

### Notes

- previously** I converted netCDF climate files from AdaptWest to WGS84 and then clipped them to the canonical range shapefiles
- but since I've added polygons (../02_update_species_range_shapefiles.ipynb) I need to re-clip these files
- to preserve previous code, I've made a new directory (`netdir`) with symlinks to the .7z files downloaded from AdaptWest

** notebooks/002_doug_fir_gea/10_maps/clip_climate_data_create_climate_maps.ipynb

** notebooks/007_JP_gea/07_gradient_forest/01_prep_spatial_envdata.ipynb

In [1]:
from pythonimports import *
import geopandas, rioxarray, cartopy.crs, xarray
from shapely.geometry import box, mapping

lview,dview = get_client()

latest_commit()
sinfo(html=True)

56 56
##################################################################
Today:	June 20, 2023 - 07:17:33
python version: 3.8.5
conda env: newpy385

Current commit of pythonimports:
commit 03d76f7a992130f4b94ac34a09ad439e918d3044
Author: Brandon Lind <lind.brandon.m@gmail.com>
Date:   Fri Jun 9 09:42:21 2023 -0400
##################################################################

<a id='create'></a>
# 1. create new directory for clipped files and symlink 7z files

[top](#home)

In [2]:
# where the AdaptWest files are
olddir = '/data/projects/pool_seq/environemental_data/netCDF_files'
netdir = makedir('/data/projects/pool_seq/environemental_data/new_netCDF_files')
olddirs = fs(olddir, dirs=True)
olddirs

['/data/projects/pool_seq/environemental_data/netCDF_files/NA_ENSEMBLE_rcp45_2050s',
 '/data/projects/pool_seq/environemental_data/netCDF_files/NA_ENSEMBLE_rcp45_2080s',
 '/data/projects/pool_seq/environemental_data/netCDF_files/NA_ENSEMBLE_rcp85_2050s',
 '/data/projects/pool_seq/environemental_data/netCDF_files/NA_ENSEMBLE_rcp85_2080s',
 '/data/projects/pool_seq/environemental_data/netCDF_files/NA_NORM_1961-1990',
 '/data/projects/pool_seq/environemental_data/netCDF_files/NA_Reference_files']

In [3]:
# get the 7zip files
sevenzfiles = []
for d in olddirs:
    files = fs(d, endswith='.7z')
    assert len(files) == 1
    src = files[0]
    if 'Reference' not in src:
        dst = src.replace(olddir, netdir)
    else:
        # the elevation data will unzip to a folder instead of spilling out .nc files (easier later on)
        dst = op.join(netdir, op.basename(src))
    makedir(op.dirname(dst))
    os.symlink(src, dst)
    sevenzfiles.append(dst)
sevenzfiles

['/data/projects/pool_seq/environemental_data/new_netCDF_files/NA_ENSEMBLE_rcp45_2050s/NA_ENSEMBLE_rcp45_2050s_Bioclim_netCDF.7z',
 '/data/projects/pool_seq/environemental_data/new_netCDF_files/NA_ENSEMBLE_rcp45_2080s/NA_ENSEMBLE_rcp45_2080s_Bioclim_netCDF.7z',
 '/data/projects/pool_seq/environemental_data/new_netCDF_files/NA_ENSEMBLE_rcp85_2050s/NA_ENSEMBLE_rcp85_2050s_Bioclim_netCDF.7z',
 '/data/projects/pool_seq/environemental_data/new_netCDF_files/NA_ENSEMBLE_rcp85_2080s/NA_ENSEMBLE_rcp85_2080s_Bioclim_netCDF.7z',
 '/data/projects/pool_seq/environemental_data/new_netCDF_files/NA_NORM_1961-1990/NA_NORM_1961-1990_netCDF.7z',
 '/data/projects/pool_seq/environemental_data/new_netCDF_files/NA_Reference_files_netCDF.7z']

In [4]:
len(sevenzfiles)

6

<a id='unzip'></a>
# 2. unzip 7z files

[top](#home)

In [5]:
# unzip them
for file in sevenzfiles:
    dname = op.dirname(file)
    os.chdir(dname)
    print(ColorText(op.basename(dname)).bold().blue())
    !/data/programs/p7zip_16.02/bin/7z x $file

NA_ENSEMBLE_rcp45_2050s

7-Zip [64] 16.02 : Copyright (c) 1999-2016 Igor Pavlov : 2016-05-21
p7zip Version 16.02 (locale=en_US.UTF-8,Utf16=on,HugeFiles=on,64 bits,56 CPUs x64)

Scanning the drive for archives:
  0M Scan /data/projects/pool_seq/environem . DF_files/NA_ENSEMBLE_rcp45_2050s                                                                              1 file, 316949670 bytes (303 MiB)

Extracting archive: /data/projects/pool_seq/environemental_data/new_netCDF_files/NA_ENSEMBLE_rcp45_2050s/NA_ENSEMBLE_rcp45_2050s_Bioclim_netCDF.7z
--
Path = /data/projects/pool_seq/environemental_data/new_netCDF_files/NA_ENSEMBLE_rcp45_2050s/NA_ENSEMBLE_rcp45_2050s_Bioclim_netCDF.7z
Type = 7z
Physical Size = 316949670
Headers Size = 568
Method = LZMA2:26
Solid = +
Blocks = 2

      0% - AHM.n              1% - AHM.n              2% - AHM.n              3% - AHM.n              3% 1 - bFFP.                4% 1 - bFFP.                5% 1 - bFFP.                6% 1 - bFFP.                7% 1 - bFFP.                7% 2 - CMD.n                8% 2 - CMD.n                9% 2 - CMD.n               10% 2 - CMD.n               11% 2 - CMD.n               11% 3 - DD18.               12% 3 - DD18.               13% 3 - DD18.               14% 3 - DD18.               14% 4 - DD5.n               15% 4 - DD5.n               16% 4 - DD5.n               17% 4 - DD5.n               18% 4 - DD5.n               18% 5 - DD_0.               19% 5 - DD_0.               20% 5 - DD_0.               21% 5 - DD_0.               22% 5 - DD_0.               22% 6 - DD_18.n                 23% 6 - DD_18.n                 24% 6 - DD_18.n                 25% 6 - DD_18.n                 25% 7 - eFFP.               26% 7 - eFFP.               27% 7 - eFFP.               28% 7 - eFFP.               29% 7 - eFFP.               30% 8 - EMT.n               31% 8 - EMT.n               32% 8 - EMT.n               33% 8 - EMT.n               33% 9 - Eref.               34% 9 - Eref.               35% 9 - Eref.               36% 9 - Eref.               37% 9 - Eref.               37% 10 - EXT.               38% 10 - EXT.               39% 10 - EXT.               40% 10 - EXT.               40% 11 - FFP.               41% 11 - FFP.               42% 11 - FFP.               43% 11 - FFP.               44% 11 - FFP.               44% 12 - MAP.               45% 12 - MAP.               46% 12 - MAP.               47% 12 - MAP.               48% 12 - MAP.               48% 13 - MAR.               49% 13 - MAR.               50% 13 - MAR.               51% 13 - MAR.               52% 14 - MAT.               53% 14 - MAT.               54% 14 - MAT.               55% 14 - MAT.               55% 15 - MCMT.n                 56% 15 - MCMT.n                 57% 15 - MCMT.n                 58% 15 - MCMT.n                 59% 15 - MCMT.n                 59% 16 - MSP.               60% 16 - MSP.               61% 16 - MSP.               62% 16 - MSP.               62% 17 - MWMT.n                 63% 17 - MWMT.n                 64% 17 - MWMT.n                 65% 17 - MWMT.n                 66% 17 - MWMT.n                 66% 18 - NFFD.n                 67% 18 - NFFD.n                 68% 18 - NFFD.n                 69% 18 - NFFD.n                 70% 18 - NFFD.n                 70% 19 - PAS.               71% 19 - PAS.               72% 19 - PAS.               73% 19 - PAS.               74% 20 - PPT_sm.n                   75% 20 - PPT_sm.n                   76% 20 - PPT_sm.n                   77% 20 - PPT_sm.n                   77% 21 - PPT_wt.n                   78% 21 - PPT_wt.n                   79% 21 - PPT_wt.n                   80% 21 - PPT_wt.n                   81% 21 - PPT_wt.n                   82% 22 - RH.n               83% 22 - RH.n               84% 22 - RH.n               85% 23 - SHM.               86% 23 - SHM.               87% 23 - SHM.               88% 23 - SHM.               88% 24 - Tave_sm.                   89% 24 - Tave_sm.                   90% 24 - Tave_sm.                   91% 24 - Tave_sm.                   92% 24 - Tave_sm.                   92% 25 - Tave_wt.                   93% 25 - Tave_wt.                   94% 25 - Tave_wt.                   95% 25 - Tave_wt.                   96% 25 - Tave_wt.                   96% 26 - TD.n               97% 26 - TD.n               98% 26 - TD.n               99% 26 - TD.n              100% 2      Everything is Ok

Files: 27
Size:       6377568736
Compressed: 316949670
NA_ENSEMBLE_rcp45_2080s

7-Zip [64] 16.02 : Copyright (c) 1999-2016 Igor Pavlov : 2016-05-21
p7zip Version 16.02 (locale=en_US.UTF-8,Utf16=on,HugeFiles=on,64 bits,56 CPUs x64)

Scanning the drive for archives:
  0M Scan /data/projects/pool_seq/environem . DF_files/NA_ENSEMBLE_rcp45_2080s                                                                              1 file, 317493625 bytes (303 MiB)

Extracting archive: /data/projects/pool_seq/environemental_data/new_netCDF_files/NA_ENSEMBLE_rcp45_2080s/NA_ENSEMBLE_rcp45_2080s_Bioclim_netCDF.7z
--
Path = /data/projects/pool_seq/environemental_data/new_netCDF_files/NA_ENSEMBLE_rcp45_2080s/NA_ENSEMBLE_rcp45_2080s_Bioclim_netCDF.7z
Type = 7z
Physical Size = 317493625
Headers Size = 565
Method = LZMA2:26
Solid = +
Blocks = 2

      0% - AHM.n              1% - AHM.n              2% - AHM.n              3% - AHM.n              3% 1 - bFFP.                4% 1 - bFFP.                5% 1 - bFFP.                6% 1 - bFFP.                7% 1 - bFFP.                7% 2 - CMD.n                8% 2 - CMD.n                9% 2 - CMD.n               10% 2 - CMD.n               11% 2 - CMD.n               11% 3 - DD18.               12% 3 - DD18.               13% 3 - DD18.               14% 3 - DD18.               14% 4 - DD5.n               15% 4 - DD5.n               16% 4 - DD5.n               17% 4 - DD5.n               18% 4 - DD5.n               18% 5 - DD_0.               19% 5 - DD_0.               20% 5 - DD_0.               21% 5 - DD_0.               22% 5 - DD_0.               22% 6 - DD_18.n                 23% 6 - DD_18.n                 24% 6 - DD_18.n                 25% 6 - DD_18.n                 25% 7 - eFFP.               26% 7 - eFFP.               27% 7 - eFFP.               28% 7 - eFFP.               29% 7 - eFFP.               30% 8 - EMT.n               31% 8 - EMT.n               32% 8 - EMT.n               33% 8 - EMT.n               33% 9 - Eref.               34% 9 - Eref.               35% 9 - Eref.               36% 9 - Eref.               37% 9 - Eref.               37% 10 - EXT.               38% 10 - EXT.               39% 10 - EXT.               40% 10 - EXT.               40% 11 - FFP.               41% 11 - FFP.               42% 11 - FFP.               43% 11 - FFP.               44% 11 - FFP.               44% 12 - MAP.               45% 12 - MAP.               46% 12 - MAP.               47% 12 - MAP.               48% 12 - MAP.               48% 13 - MAR.               49% 13 - MAR.               50% 13 - MAR.               51% 13 - MAR.               52% 14 - MAT.               53% 14 - MAT.               54% 14 - MAT.               55% 14 - MAT.               55% 15 - MCMT.n                 56% 15 - MCMT.n                 57% 15 - MCMT.n                 58% 15 - MCMT.n                 59% 15 - MCMT.n                 59% 16 - MSP.               60% 16 - MSP.               61% 16 - MSP.               62% 16 - MSP.               62% 17 - MWMT.n                 63% 17 - MWMT.n                 64% 17 - MWMT.n                 65% 17 - MWMT.n                 66% 17 - MWMT.n                 66% 18 - NFFD.n                 67% 18 - NFFD.n                 68% 18 - NFFD.n                 69% 18 - NFFD.n                 70% 18 - NFFD.n                 70% 19 - PAS.               71% 19 - PAS.               72% 19 - PAS.               73% 19 - PAS.               74% 20 - PPT_sm.n                   75% 20 - PPT_sm.n                   76% 20 - PPT_sm.n                   77% 20 - PPT_sm.n                   77% 21 - PPT_wt.n                   78% 21 - PPT_wt.n                   79% 21 - PPT_wt.n                   80% 21 - PPT_wt.n                   81% 21 - PPT_wt.n                   81% 22 - RH.n               82% 22 - RH.n               83% 22 - RH.n               84% 22 - RH.n               85% 23 - SHM.               86% 23 - SHM.               87% 23 - SHM.               88% 23 - SHM.               88% 24 - Tave_sm.                   89% 24 - Tave_sm.                   90% 24 - Tave_sm.                   91% 24 - Tave_sm.                   92% 24 - Tave_sm.                   92% 25 - Tave_wt.                   93% 25 - Tave_wt.                   94% 25 - Tave_wt.                   95% 25 - Tave_wt.                   96% 25 - Tave_wt.                   96% 26 - TD.n               97% 26 - TD.n               98% 26 - TD.n               99% 26 - TD.n              100% 2      Everything is Ok

Files: 27
Size:       6377568736
Compressed: 317493625
NA_ENSEMBLE_rcp85_2050s

7-Zip [64] 16.02 : Copyright (c) 1999-2016 Igor Pavlov : 2016-05-21
p7zip Version 16.02 (locale=en_US.UTF-8,Utf16=on,HugeFiles=on,64 bits,56 CPUs x64)

Scanning the drive for archives:
  0M Scan /data/projects/pool_seq/environem . DF_files/NA_ENSEMBLE_rcp85_2050s                                                                              1 file, 317527173 bytes (303 MiB)

Extracting archive: /data/projects/pool_seq/environemental_data/new_netCDF_files/NA_ENSEMBLE_rcp85_2050s/NA_ENSEMBLE_rcp85_2050s_Bioclim_netCDF.7z
--
Path = /data/projects/pool_seq/environemental_data/new_netCDF_files/NA_ENSEMBLE_rcp85_2050s/NA_ENSEMBLE_rcp85_2050s_Bioclim_netCDF.7z
Type = 7z
Physical Size = 317527173
Headers Size = 565
Method = LZMA2:26
Solid = +
Blocks = 2

      0% - AHM.n              1% - AHM.n              2% - AHM.n              3% - AHM.n              3% 1 - bFFP.                4% 1 - bFFP.                5% 1 - bFFP.                6% 1 - bFFP.                7% 1 - bFFP.                7% 2 - CMD.n                8% 2 - CMD.n                9% 2 - CMD.n               10% 2 - CMD.n               11% 2 - CMD.n               11% 3 - DD18.               12% 3 - DD18.               13% 3 - DD18.               14% 3 - DD18.               14% 4 - DD5.n               15% 4 - DD5.n               16% 4 - DD5.n               17% 4 - DD5.n               18% 4 - DD5.n               18% 5 - DD_0.               19% 5 - DD_0.               20% 5 - DD_0.               21% 5 - DD_0.               22% 6 - DD_18.n                 23% 6 - DD_18.n                 24% 6 - DD_18.n                 25% 6 - DD_18.n                 25% 7 - eFFP.               26% 7 - eFFP.               27% 7 - eFFP.               28% 7 - eFFP.               29% 7 - eFFP.               30% 8 - EMT.n               31% 8 - EMT.n               32% 8 - EMT.n               33% 8 - EMT.n               33% 9 - Eref.               34% 9 - Eref.               35% 9 - Eref.               36% 9 - Eref.               37% 9 - Eref.               37% 10 - EXT.               38% 10 - EXT.               39% 10 - EXT.               40% 10 - EXT.               40% 11 - FFP.               41% 11 - FFP.               42% 11 - FFP.               43% 11 - FFP.               44% 11 - FFP.               44% 12 - MAP.               45% 12 - MAP.               46% 12 - MAP.               47% 12 - MAP.               48% 12 - MAP.               48% 13 - MAR.               49% 13 - MAR.               50% 13 - MAR.               51% 13 - MAR.               52% 14 - MAT.               53% 14 - MAT.               54% 14 - MAT.               55% 14 - MAT.               55% 15 - MCMT.n                 56% 15 - MCMT.n                 57% 15 - MCMT.n                 58% 15 - MCMT.n                 59% 15 - MCMT.n                 59% 16 - MSP.               60% 16 - MSP.               61% 16 - MSP.               62% 16 - MSP.               62% 17 - MWMT.n                 63% 17 - MWMT.n                 64% 17 - MWMT.n                 65% 17 - MWMT.n                 66% 17 - MWMT.n                 66% 18 - NFFD.n                 67% 18 - NFFD.n                 68% 18 - NFFD.n                 69% 18 - NFFD.n                 70% 18 - NFFD.n                 70% 19 - PAS.               71% 19 - PAS.               72% 19 - PAS.               73% 19 - PAS.               74% 20 - PPT_sm.n                   75% 20 - PPT_sm.n                   76% 20 - PPT_sm.n                   77% 20 - PPT_sm.n                   77% 21 - PPT_wt.n                   78% 21 - PPT_wt.n                   79% 21 - PPT_wt.n                   80% 21 - PPT_wt.n                   81% 21 - PPT_wt.n                   82% 22 - RH.n               83% 22 - RH.n               84% 22 - RH.n               85% 23 - SHM.               86% 23 - SHM.               87% 23 - SHM.               88% 23 - SHM.               88% 24 - Tave_sm.                   89% 24 - Tave_sm.                   90% 24 - Tave_sm.                   91% 24 - Tave_sm.                   92% 24 - Tave_sm.                   93% 25 - Tave_wt.                   94% 25 - Tave_wt.                   95% 25 - Tave_wt.                   96% 25 - Tave_wt.                   96% 26 - TD.n               97% 26 - TD.n               98% 26 - TD.n               99% 26 - TD.n              100% 2      Everything is Ok

Files: 27
Size:       6377568736
Compressed: 317527173
NA_ENSEMBLE_rcp85_2080s

7-Zip [64] 16.02 : Copyright (c) 1999-2016 Igor Pavlov : 2016-05-21
p7zip Version 16.02 (locale=en_US.UTF-8,Utf16=on,HugeFiles=on,64 bits,56 CPUs x64)

Scanning the drive for archives:
  0M Scan /data/projects/pool_seq/environem . DF_files/NA_ENSEMBLE_rcp85_2080s                                                                              1 file, 318211712 bytes (304 MiB)

Extracting archive: /data/projects/pool_seq/environemental_data/new_netCDF_files/NA_ENSEMBLE_rcp85_2080s/NA_ENSEMBLE_rcp85_2080s_Bioclim_netCDF.7z
--
Path = /data/projects/pool_seq/environemental_data/new_netCDF_files/NA_ENSEMBLE_rcp85_2080s/NA_ENSEMBLE_rcp85_2080s_Bioclim_netCDF.7z
Type = 7z
Physical Size = 318211712
Headers Size = 564
Method = LZMA2:26
Solid = +
Blocks = 2

      0% - AHM.n              1% - AHM.n              2% - AHM.n              3% - AHM.n              3% 1 - bFFP.                4% 1 - bFFP.                5% 1 - bFFP.                6% 1 - bFFP.                7% 1 - bFFP.                7% 2 - CMD.n                8% 2 - CMD.n                9% 2 - CMD.n               10% 2 - CMD.n               11% 2 - CMD.n               11% 3 - DD18.               12% 3 - DD18.               13% 3 - DD18.               14% 3 - DD18.               14% 4 - DD5.n               15% 4 - DD5.n               16% 4 - DD5.n               17% 4 - DD5.n               18% 4 - DD5.n               18% 5 - DD_0.               19% 5 - DD_0.               20% 5 - DD_0.               21% 5 - DD_0.               22% 6 - DD_18.n                 23% 6 - DD_18.n                 24% 6 - DD_18.n                 25% 6 - DD_18.n                 25% 7 - eFFP.               26% 7 - eFFP.               27% 7 - eFFP.               28% 7 - eFFP.               29% 8 - EMT.n               30% 8 - EMT.n               31% 8 - EMT.n               32% 8 - EMT.n               33% 8 - EMT.n               33% 9 - Eref.               34% 9 - Eref.               35% 9 - Eref.               36% 9 - Eref.               37% 9 - Eref.               37% 10 - EXT.               38% 10 - EXT.               39% 10 - EXT.               40% 10 - EXT.               40% 11 - FFP.               41% 11 - FFP.               42% 11 - FFP.               43% 11 - FFP.               44% 11 - FFP.               44% 12 - MAP.               45% 12 - MAP.               46% 12 - MAP.               47% 12 - MAP.               48% 12 - MAP.               48% 13 - MAR.               49% 13 - MAR.               50% 13 - MAR.               51% 13 - MAR.               52% 14 - MAT.               53% 14 - MAT.               54% 14 - MAT.               55% 14 - MAT.               56% 15 - MCMT.n                 57% 15 - MCMT.n                 58% 15 - MCMT.n                 59% 15 - MCMT.n                 59% 16 - MSP.               60% 16 - MSP.               61% 16 - MSP.               62% 16 - MSP.               62% 17 - MWMT.n                 63% 17 - MWMT.n                 64% 17 - MWMT.n                 65% 17 - MWMT.n                 66% 17 - MWMT.n                 66% 18 - NFFD.n                 67% 18 - NFFD.n                 68% 18 - NFFD.n                 69% 18 - NFFD.n                 70% 18 - NFFD.n                 70% 19 - PAS.               71% 19 - PAS.               72% 19 - PAS.               73% 19 - PAS.               74% 20 - PPT_sm.n                   75% 20 - PPT_sm.n                   76% 20 - PPT_sm.n                   77% 20 - PPT_sm.n                   77% 21 - PPT_wt.n                   78% 21 - PPT_wt.n                   79% 21 - PPT_wt.n                   80% 21 - PPT_wt.n                   81% 21 - PPT_wt.n                   81% 22 - RH.n               82% 22 - RH.n               83% 22 - RH.n               84% 22 - RH.n               85% 23 - SHM.               86% 23 - SHM.               87% 23 - SHM.               88% 23 - SHM.               88% 24 - Tave_sm.                   89% 24 - Tave_sm.                   90% 24 - Tave_sm.                   91% 24 - Tave_sm.                   92% 24 - Tave_sm.                   93% 25 - Tave_wt.                   94% 25 - Tave_wt.                   95% 25 - Tave_wt.                   96% 25 - Tave_wt.                   96% 26 - TD.n               97% 26 - TD.n               98% 26 - TD.n               99% 26 - TD.n              100% 2      Everything is Ok

Files: 27
Size:       6377568736
Compressed: 318211712
NA_NORM_1961-1990

7-Zip [64] 16.02 : Copyright (c) 1999-2016 Igor Pavlov : 2016-05-21
p7zip Version 16.02 (locale=en_US.UTF-8,Utf16=on,HugeFiles=on,64 bits,56 CPUs x64)

Scanning the drive for archives:
  0M Scan /data/projects/pool_seq/environ . netCDF_files/NA_NORM_1961-1990                                                                          1 file, 314618911 bytes (301 MiB)

Extracting archive: /data/projects/pool_seq/environemental_data/new_netCDF_files/NA_NORM_1961-1990/NA_NORM_1961-1990_netCDF.7z
--
Path = /data/projects/pool_seq/environemental_data/new_netCDF_files/NA_NORM_1961-1990/NA_NORM_1961-1990_netCDF.7z
Type = 7z
Physical Size = 314618911
Headers Size = 561
Method = LZMA2:26
Solid = +
Blocks = 2

      0% - AHM.n              1% - AHM.n              2% - AHM.n              3% - AHM.n              3% 1 - bFFP.                4% 1 - bFFP.                5% 1 - bFFP.                6% 1 - bFFP.                7% 1 - bFFP.                7% 2 - CMD.n                8% 2 - CMD.n                9% 2 - CMD.n               10% 2 - CMD.n               11% 2 - CMD.n               11% 3 - DD18.               12% 3 - DD18.               13% 3 - DD18.               14% 3 - DD18.               14% 4 - DD5.n               15% 4 - DD5.n               16% 4 - DD5.n               17% 4 - DD5.n               18% 4 - DD5.n               18% 5 - DD_0.               19% 5 - DD_0.               20% 5 - DD_0.               21% 5 - DD_0.               22% 5 - DD_0.               22% 6 - DD_18.n                 23% 6 - DD_18.n                 24% 6 - DD_18.n                 25% 6 - DD_18.n                 25% 7 - eFFP.               26% 7 - eFFP.               27% 7 - eFFP.               28% 7 - eFFP.               29% 7 - eFFP.               30% 8 - EMT.n               31% 8 - EMT.n               32% 8 - EMT.n               33% 8 - EMT.n               33% 9 - Eref.               34% 9 - Eref.               35% 9 - Eref.               36% 9 - Eref.               37% 9 - Eref.               37% 10 - EXT.               38% 10 - EXT.               39% 10 - EXT.               40% 10 - EXT.               41% 11 - FFP.               42% 11 - FFP.               43% 11 - FFP.               44% 11 - FFP.               44% 12 - MAP.               45% 12 - MAP.               46% 12 - MAP.               47% 12 - MAP.               48% 12 - MAP.               48% 13 - MAR.               49% 13 - MAR.               50% 13 - MAR.               51% 13 - MAR.               52% 14 - MAT.               53% 14 - MAT.               54% 14 - MAT.               55% 14 - MAT.               56% 15 - MCMT.n                 57% 15 - MCMT.n                 58% 15 - MCMT.n                 59% 15 - MCMT.n                 59% 16 - MSP.               60% 16 - MSP.               61% 16 - MSP.               62% 16 - MSP.               62% 17 - MWMT.n                 63% 17 - MWMT.n                 64% 17 - MWMT.n                 65% 17 - MWMT.n                 66% 17 - MWMT.n                 66% 18 - NFFD.n                 67% 18 - NFFD.n                 68% 18 - NFFD.n                 69% 18 - NFFD.n                 70% 18 - NFFD.n                 70% 19 - PAS.               71% 19 - PAS.               72% 19 - PAS.               73% 19 - PAS.               74% 20 - PPT_sm.n                   75% 20 - PPT_sm.n                   76% 20 - PPT_sm.n                   77% 20 - PPT_sm.n                   77% 21 - PPT_wt.n                   78% 21 - PPT_wt.n                   79% 21 - PPT_wt.n                   80% 21 - PPT_wt.n                   81% 21 - PPT_wt.n                   81% 22 - RH.n               82% 22 - RH.n               83% 22 - RH.n               84% 22 - RH.n               85% 23 - SHM.               86% 23 - SHM.               87% 23 - SHM.               88% 23 - SHM.               88% 24 - Tave_sm.                   89% 24 - Tave_sm.                   90% 24 - Tave_sm.                   91% 24 - Tave_sm.                   92% 24 - Tave_sm.                   92% 25 - Tave_wt.                   93% 25 - Tave_wt.                   94% 25 - Tave_wt.                   95% 25 - Tave_wt.                   96% 25 - Tave_wt.                   96% 26 - TD.n               97% 26 - TD.n               98% 26 - TD.n               99% 26 - TD.n              Everything is Ok

Files: 27
Size:       6377568736
Compressed: 314618911
new_netCDF_files

7-Zip [64] 16.02 : Copyright (c) 1999-2016 Igor Pavlov : 2016-05-21
p7zip Version 16.02 (locale=en_US.UTF-8,Utf16=on,HugeFiles=on,64 bits,56 CPUs x64)

Scanning the drive for archives:
  0M Scan /data/projects/pool_seq/environemental_data/new_netCDF_files                                                                      1 file, 30168790 bytes (29 MiB)

Extracting archive: /data/projects/pool_seq/environemental_data/new_netCDF_files/NA_Reference_files_netCDF.7z

--
Path = /data/projects/pool_seq/environemental_data/new_netCDF_files/NA_Reference_files_netCDF.7z
Type = 7z
Physical Size = 30168790
Headers Size = 257
Method = LZMA2:26
Solid = +
Blocks = 1

      0% - NA_Reference_files_netCDF/ClimateNA_DEM.p                                                  7% 1 - NA_Reference_files_netCDF/ClimateNA_DEM.n                                                   12% 1 - NA_Reference_files_netCDF/ClimateNA_DEM.n                                                   17% 1 - NA_Reference_files_netCDF/ClimateNA_DEM.n                                                   22% 1 - NA_Reference_files_netCDF/ClimateNA_DEM.n                                                   26% 1 - NA_Reference_files_netCDF/ClimateNA_DEM.n                                                   30% 1 - NA_Reference_files_netCDF/ClimateNA_DEM.n                                                   35% 1 - NA_Reference_files_netCDF/ClimateNA_DEM.n                                                   41% 1 - NA_Reference_files_netCDF/ClimateNA_DEM.n                                                   49% 1 - NA_Reference_files_netCDF/ClimateNA_DEM.n                                                   58% 2 - NA_Reference_files_netCDF/ClimateNA_ID.                                                 62% 2 - NA_Reference_files_netCDF/ClimateNA_ID.                                                 68% 2 - NA_Reference_files_netCDF/ClimateNA_ID.                                                 74% 2 - NA_Reference_files_netCDF/ClimateNA_ID.                                                 80% 2 - NA_Reference_files_netCDF/ClimateNA_ID.                                                 89% 2 - NA_Reference_files_netCDF/ClimateNA_ID.                                                Everything is Ok

Folders: 1
Files: 3
Size:       475120112
Compressed: 30168790

<a id='convert'></a>
# 3. convert each netCDF file from Lambert Conformal to WGS84

[top](#home)

In [6]:
# original proj string as-downloaded (the coordinate projection of the data)
# technically `+lon_0=-95.0` was documented as `+lon_0=--95.0` but `--` didn't make any sense
proj = '+proj=lcc +lat_1=49.0 +lat_2=77.0 +lat_0=0.0 +lon_0=-95.0 +x_0=0.0 +y_0=0.0 +ellps=WGS84 \
+datum=WGS84 +units=m +no_defs'

In [7]:
def gdalwarp(netcdf_infile, netcdf_outfile, proj):
    """Convert `netcdf_infile` to WGS84 `netcdf_outfile`.
    
    Notes
    -----
    conda install -c conda-forge gdal 
    """
    import subprocess, shutil
    
    output = subprocess.check_output(['/lu213/brandon.lind/data/anaconda3/envs/gdal_env/bin/gdalwarp',
                                      '-s_srs', proj,
                                      '-t_srs',  '+proj=longlat +ellps=WGS84',
                                      '-of', 'netCDF',
                                      netcdf_infile,
                                      netcdf_outfile,
                                      '-overwrite']).decode('utf-8').split('\n')
    return output

In [8]:
netdirs = fs(netdir, dirs=True)
netdirs

['/data/projects/pool_seq/environemental_data/new_netCDF_files/NA_ENSEMBLE_rcp45_2050s',
 '/data/projects/pool_seq/environemental_data/new_netCDF_files/NA_ENSEMBLE_rcp45_2080s',
 '/data/projects/pool_seq/environemental_data/new_netCDF_files/NA_ENSEMBLE_rcp85_2050s',
 '/data/projects/pool_seq/environemental_data/new_netCDF_files/NA_ENSEMBLE_rcp85_2080s',
 '/data/projects/pool_seq/environemental_data/new_netCDF_files/NA_NORM_1961-1990',
 '/data/projects/pool_seq/environemental_data/new_netCDF_files/NA_Reference_files_netCDF']

In [9]:
# get the netCDF files
netfiles = []
for d in netdirs:
    files = fs(d, endswith='.nc', exclude='WGS84')
    print(op.basename(d), len(files))
    netfiles.extend(files)
print(len(netfiles), luni(netfiles))
netfiles[0]

NA_ENSEMBLE_rcp45_2050s 27
NA_ENSEMBLE_rcp45_2080s 27
NA_ENSEMBLE_rcp85_2050s 27
NA_ENSEMBLE_rcp85_2080s 27
NA_NORM_1961-1990 27
NA_Reference_files_netCDF 2
137 137

'/data/projects/pool_seq/environemental_data/new_netCDF_files/NA_ENSEMBLE_rcp45_2050s/AHM.nc'

In [10]:
# test
gdalwarp(netfiles[0], netfiles[0].replace('.nc', '_WGS84.nc'), proj)

['Creating output file that is 15399P x 3236L.',
 'Processing /data/projects/pool_seq/environemental_data/new_netCDF_files/NA_ENSEMBLE_rcp45_2050s/AHM.nc [1/1] : 0Using internal nodata values (e.g. -3.4e+38) for image /data/projects/pool_seq/environemental_data/new_netCDF_files/NA_ENSEMBLE_rcp45_2050s/AHM.nc.',
 'Copying nodata values from source /data/projects/pool_seq/environemental_data/new_netCDF_files/NA_ENSEMBLE_rcp45_2050s/AHM.nc to destination /data/projects/pool_seq/environemental_data/new_netCDF_files/NA_ENSEMBLE_rcp45_2050s/AHM_WGS84.nc.',
 '...10...20...30...40...50...60...70...80...90...100 - done.',
 '']

In [11]:
# run in parallel
jobs = []
for netfile in netfiles:
    jobs.append(lview.apply_async(gdalwarp, *(netfile, netfile.replace('.nc', '_WGS84.nc'), proj)))
watch_async(jobs, desc='gdalwarp')

Watching 137 jobs ...

gdalwarp: 100%|███████████████| 137/137 [01:32<00:00,  1.48it/s]

In [12]:
# make sure no errors
for j in jobs:
    assert 'Creating' in  j.r[0]

In [13]:
netdirs

['/data/projects/pool_seq/environemental_data/new_netCDF_files/NA_ENSEMBLE_rcp45_2050s',
 '/data/projects/pool_seq/environemental_data/new_netCDF_files/NA_ENSEMBLE_rcp45_2080s',
 '/data/projects/pool_seq/environemental_data/new_netCDF_files/NA_ENSEMBLE_rcp85_2050s',
 '/data/projects/pool_seq/environemental_data/new_netCDF_files/NA_ENSEMBLE_rcp85_2080s',
 '/data/projects/pool_seq/environemental_data/new_netCDF_files/NA_NORM_1961-1990',
 '/data/projects/pool_seq/environemental_data/new_netCDF_files/NA_Reference_files_netCDF']

In [14]:
# double check files were made
outfiles = []
for d in netdirs:
    outfiles.extend(fs(d, 'WGS84', endswith='.nc'))

assert len(outfiles) == len(netfiles)

<a id='crop'></a>
# 4. crop each WGS84 netCDF file using range map for use in future projections

[top](#home)

In [15]:
def clip(netcdf_file, outfile, shapefile):
    """Clip netCDF file within shapefile boundaries, save as tif and dataframe with coords.
    
    Notes
    -----
    - assumes WGS84 projection of netcdf_file
    """
    import geopandas, rioxarray, cartopy.crs, xarray
    from shapely.geometry import box, mapping

    # read in netcdf file
    dataset = xarray.open_dataset(netcdf_file)
    # add metadata for WGS84
    dataset.rio.set_spatial_dims(x_dim="lon", y_dim="lat", inplace=True)
    dataset.rio.write_crs("epsg:4326", inplace=True)

    # read in the shapefile
    shp = geopandas.read_file(shapefile, crs=cartopy.crs.PlateCarree())
    
    # clip climate data within boundaries of shapefile
    clipped = dataset.rio.clip(shp.geometry.apply(mapping), shp.crs, drop=False)
    
#     # save as .tif
#     tif = outfile.replace('.txt', '.tif')
#     clipped.rio.to_raster(tif)
    
    # convert to dataframe, remove null points
    df = clipped.to_dataframe()
    df = df[df['Band1'].notnull()]
    # convert multi-index (lat/long) to column data
    df.reset_index(drop=False, inplace=True)
    
    # save
    df.to_csv(outfile, sep='\t', index=False)
    
    return outfile

In [16]:
# get the paths to the updated shapefiles
shapedir = '/data/projects/pool_seq/environemental_data/shapefiles'
bnames = ['interior_union_file.shp',
          'combined/df_combined_union_file.shp',
          'jp_union_file.shp',
          'wl_union_file.shp',
          'coastal_union_file.shp']
shapefiles = [op.join(shapedir, f) for f in bnames]
shapefiles

['/data/projects/pool_seq/environemental_data/shapefiles/interior_union_file.shp',
 '/data/projects/pool_seq/environemental_data/shapefiles/combined/df_combined_union_file.shp',
 '/data/projects/pool_seq/environemental_data/shapefiles/jp_union_file.shp',
 '/data/projects/pool_seq/environemental_data/shapefiles/wl_union_file.shp',
 '/data/projects/pool_seq/environemental_data/shapefiles/coastal_union_file.shp']

In [17]:
outfiles[0]

'/data/projects/pool_seq/environemental_data/new_netCDF_files/NA_ENSEMBLE_rcp45_2050s/AHM_WGS84.nc'

In [18]:
for shape in shapefiles:
    print(op.basename(shape).split("_union")[0])

interior
df_combined
jp
wl
coastal

In [19]:
# test
clip(
    outfiles[0],
    outfiles[0].replace('.nc', '_clipped_jp.txt'),
    '/data/projects/pool_seq/environemental_data/shapefiles/jp_union_file.shp'
)

'/data/projects/pool_seq/environemental_data/new_netCDF_files/NA_ENSEMBLE_rcp45_2050s/AHM_WGS84_clipped_jp.txt'

In [20]:
# run in parallel 
jobs = []
for f in outfiles:
    for shapefile in shapefiles:
        spp = op.basename(shapefile).split("_union")[0]
        suffix = '_clipped_' + spp + '.txt'  # _clipped_<species>.txt
        jobs.append(
            lview.apply_async(
                clip, *(f,
                        f.replace('.nc', suffix),
                        shapefile)
            )
        )
watch_async(jobs, desc='clip')

Watching 685 jobs ...

clip: 100%|███████████████| 685/685 [04:13<00:00,  2.70it/s]

In [21]:
# retrieve clipped .txt files and file under directory and species using a dictionary
outs = defaultdict(lambda: defaultdict(list))
for j in jobs:
    f = j.r
    d = op.basename(op.dirname(f))
    spp = op.basename(f).split("_")[-1].rstrip('.txt')
    outs[d][spp].append(f)

for d,sppdict in outs.items():
    print(ColorText(d).bold().blue())
    for spp,files in sppdict.items():
        print(spp, len(files))

NA_ENSEMBLE_rcp45_2050s
interior 27
combined 27
jp 27
wl 27
coastal 27
NA_ENSEMBLE_rcp45_2080s
interior 27
combined 27
jp 27
wl 27
coastal 27
NA_ENSEMBLE_rcp85_2050s
interior 27
combined 27
jp 27
wl 27
coastal 27
NA_ENSEMBLE_rcp85_2080s
interior 27
combined 27
jp 27
wl 27
coastal 27
NA_NORM_1961-1990
interior 27
combined 27
jp 27
wl 27
coastal 27
NA_Reference_files_netCDF
interior 2
combined 2
jp 2
wl 2
coastal 2

In [22]:
def read_file(file):
    import pandas
    import os
    env = os.path.basename(file).split("_WGS84")[0]
    df = pandas.read_table(file)
    df.pop('crs')
    df = df.set_index(['lat','lon'])
    df.columns = [env]
    return df

In [23]:
# test
df1 = read_file(outs['NA_ENSEMBLE_rcp45_2050s']['coastal'][4])
df1.head()

                       DD_0
lat       lon
36.251831 -121.776749  14.0
          -121.753370  15.0
          -121.729992  15.0
36.275209 -121.800127  13.0
          -121.776749  22.0

<a id='combine'></a>
# 5. combine each clipped data into file

[top](#home)

In [24]:
# combine txt files into single dataframe
tmp_dfs = defaultdict(dict)
for d, sppdict in outs.items():
    for spp, files in sppdict.items():
        jobs = []
        for f in files:
            jobs.append(lview.apply_async(read_file, f))
        watch_async(jobs, desc=f'{d}-{spp}')
        tmp_dfs[d][spp] = pd.concat([j.r for j in jobs], axis=1)
        display(tmp_dfs[d][spp].head(2))

Watching 27 jobs ...

NA_ENSEMBLE_rcp45_2050s-interior: 100%|███████████████| 27/27 [00:00<00:00, 234464.20it/s]

                        AHM    CMD   DD18     DD5   DD_0   DD_18   EMT   EXT  \
lat       lon
42.002853 -111.724149  26.6  475.0  334.0  2271.0  358.0  3639.0 -29.6  39.5
          -111.700771  18.9  380.0  207.0  1894.0  454.0  4064.0 -31.3  37.5

                        Eref    FFP    MAP   MAR  MAT  MCMT    MSP  MWMT  \
lat       lon
42.002853 -111.724149  896.0  153.0  710.0  17.5  8.9  -2.8  217.0  22.5
          -111.700771  815.0  136.0  920.0  18.2  7.3  -3.7  240.0  20.6

                        NFFD    PAS  PPT_sm  PPT_wt    RH    SHM    TD  \
lat       lon
42.002853 -111.724149  213.0  123.0   108.0   216.0  60.0  103.7  25.4
          -111.700771  193.0  244.0   115.0   312.0  61.0   85.8  24.3

                       Tave_sm  Tave_wt   bFFP   eFFP
lat       lon
42.002853 -111.724149     20.4     -1.7  129.0  283.0
          -111.700771     18.5     -2.6  143.0  279.0

Watching 27 jobs ...

NA_ENSEMBLE_rcp45_2050s-combined: 100%|███████████████| 27/27 [00:00<00:00, 235929.60it/s]

                        AHM    CMD   DD18     DD5  DD_0   DD_18  EMT   EXT  \
lat       lon
34.545227 -120.490951  47.7  791.0  279.0  3804.0  10.0  1276.0 -6.0  39.2
          -120.467573  50.4  800.0  308.0  3890.0   9.0  1218.0 -4.8  39.3

                         Eref    FFP    MAP   MAR   MAT  MCMT   MSP  MWMT  \
lat       lon
34.545227 -120.490951  1179.0  334.0  532.0  21.6  15.4  12.1  21.0  19.2
          -120.467573  1176.0  346.0  508.0  21.5  15.6  12.3  20.0  19.4

                        NFFD  PAS  PPT_sm  PPT_wt    RH    SHM   TD  Tave_sm  \
lat       lon
34.545227 -120.490951  356.0  1.0     3.0   318.0  61.0  905.1  7.1     18.1
          -120.467573  359.0  1.0     2.0   303.0  62.0  980.7  7.1     18.3

                       Tave_wt  bFFP   eFFP
lat       lon
34.545227 -120.490951     12.4  22.0  356.0
          -120.467573     12.6  14.0  360.0

Watching 27 jobs ...

NA_ENSEMBLE_rcp45_2050s-jp: 100%|███████████████| 27/27 [00:00<00:00, 46.74it/s]

                       AHM    CMD   DD18     DD5   DD_0   DD_18   EMT   EXT  \
lat       lon
41.488534 -87.410886  22.9  246.0  907.0  3565.0  229.0  2695.0 -26.0  42.8
          -87.387508  23.0  249.0  909.0  3570.0  228.0  2690.0 -26.0  42.8

                        Eref    FFP     MAP   MAR   MAT  MCMT    MSP  MWMT  \
lat       lon
41.488534 -87.410886  1015.0  190.0  1005.0  14.5  13.0  -1.7  485.0  26.6
          -87.387508  1018.0  190.0  1003.0  14.5  13.0  -1.6  484.0  26.6

                       NFFD   PAS  PPT_sm  PPT_wt    RH   SHM    TD  Tave_sm  \
lat       lon
41.488534 -87.410886  227.0  26.0   288.0   167.0  65.0  54.8  28.3     25.5
          -87.387508  227.0  26.0   287.0   167.0  65.0  54.9  28.2     25.5

                      Tave_wt   bFFP   eFFP
lat       lon
41.488534 -87.410886     -0.2  107.0  297.0
          -87.387508     -0.2  107.0  297.0

Watching 27 jobs ...

NA_ENSEMBLE_rcp45_2050s-wl: 100%|███████████████| 27/27 [00:00<00:00, 284538.21it/s]

                        AHM    CMD   DD18     DD5   DD_0   DD_18   EMT   EXT  \
lat       lon
43.802969 -119.368800  51.5  761.0  217.0  2047.0  266.0  3581.0 -29.9  41.6
          -119.345422  53.9  769.0  223.0  2060.0  267.0  3577.0 -29.9  41.5

                         Eref    FFP    MAP   MAR  MAT  MCMT    MSP  MWMT  \
lat       lon
43.802969 -119.368800  1002.0  111.0  363.0  18.3  8.7  -1.2  102.0  20.5
          -119.345422  1003.0  112.0  348.0  18.5  8.7  -1.3  101.0  20.6

                        NFFD   PAS  PPT_sm  PPT_wt    RH    SHM    TD  \
lat       lon
43.802969 -119.368800  187.0  50.0    53.0   129.0  50.0  200.8  21.7
          -119.345422  187.0  47.0    53.0   120.0  50.0  204.2  21.9

                       Tave_sm  Tave_wt   bFFP   eFFP
lat       lon
43.802969 -119.368800     18.7     -0.1  152.0  263.0
          -119.345422     18.8     -0.2  152.0  263.0

Watching 27 jobs ...

NA_ENSEMBLE_rcp45_2050s-coastal: 100%|███████████████| 27/27 [00:00<00:00, 235929.60it/s]

                        AHM    CMD   DD18     DD5  DD_0   DD_18  EMT   EXT  \
lat       lon
36.251831 -121.776749  34.7  743.0  326.0  3699.0  14.0  1419.0 -6.2  39.0
          -121.753370  29.7  759.0  449.0  3837.0  15.0  1406.0 -6.5  39.8

                         Eref    FFP    MAP   MAR   MAT  MCMT   MSP  MWMT  \
lat       lon
36.251831 -121.776749  1126.0  327.0  723.0  19.1  15.1  10.8  26.0  19.9
          -121.753370  1149.0  323.0  858.0  18.5  15.5  10.5  28.0  21.5

                        NFFD  PAS  PPT_sm  PPT_wt    RH    SHM    TD  Tave_sm  \
lat       lon
36.251831 -121.776749  355.0  1.0     7.0   411.0  63.0  770.2   9.1     19.1
          -121.753370  353.0  2.0     8.0   491.0  64.0  762.3  11.0     20.5

                       Tave_wt  bFFP   eFFP
lat       lon
36.251831 -121.776749     11.2  28.0  354.0
          -121.753370     10.8  31.0  354.0

Watching 27 jobs ...

NA_ENSEMBLE_rcp45_2080s-interior: 100%|███████████████| 27/27 [00:00<00:00, 247262.46it/s]

                        AHM    CMD   DD18     DD5   DD_0   DD_18   EMT   EXT  \
lat       lon
42.002853 -111.724149  27.0  495.0  398.0  2430.0  304.0  3441.0 -28.2  39.8
          -111.700771  19.2  399.0  255.0  2042.0  389.0  3856.0 -30.0  37.8

                        Eref    FFP    MAP   MAR  MAT  MCMT    MSP  MWMT  \
lat       lon
42.002853 -111.724149  946.0  160.0  726.0  17.5  9.6  -2.1  216.0  23.4
          -111.700771  837.0  143.0  942.0  18.1  8.1  -3.0  239.0  21.5

                        NFFD    PAS  PPT_sm  PPT_wt    RH    SHM    TD  \
lat       lon
42.002853 -111.724149  223.0  101.0   109.0   226.0  60.0  108.4  25.5
          -111.700771  202.0  206.0   117.0   325.0  61.0   90.0  24.4

                       Tave_sm  Tave_wt   bFFP   eFFP
lat       lon
42.002853 -111.724149     21.2     -0.9  126.0  286.0
          -111.700771     19.3     -1.8  139.0  283.0

Watching 27 jobs ...

NA_ENSEMBLE_rcp45_2080s-combined: 100%|███████████████| 27/27 [00:00<00:00, 268355.94it/s]

                        AHM    CMD   DD18     DD5  DD_0   DD_18  EMT   EXT  \
lat       lon
34.545227 -120.490951  47.8  805.0  340.0  3975.0   9.0  1162.0 -5.1  39.7
          -120.467573  50.5  815.0  373.0  4061.0   8.0  1107.0 -3.8  39.8

                         Eref    FFP    MAP   MAR   MAT  MCMT   MSP  MWMT  \
lat       lon
34.545227 -120.490951  1196.0  344.0  541.0  21.6  15.9  12.5  20.0  19.7
          -120.467573  1193.0  354.0  517.0  21.5  16.1  12.7  19.0  19.9

                        NFFD  PAS  PPT_sm  PPT_wt    RH     SHM   TD  Tave_sm  \
lat       lon
34.545227 -120.490951  359.0  1.0     2.0   327.0  61.0   963.4  7.2     18.6
          -120.467573  361.0  0.0     2.0   311.0  62.0  1041.8  7.2     18.8

                       Tave_wt  bFFP   eFFP
lat       lon
34.545227 -120.490951     12.8  16.0  360.0
          -120.467573     13.1   9.0  363.0

Watching 27 jobs ...

NA_ENSEMBLE_rcp45_2080s-jp: 100%|███████████████| 27/27 [00:00<00:00, 51.74it/s]

                       AHM    CMD   DD18     DD5   DD_0   DD_18   EMT   EXT  \
lat       lon
41.488534 -87.410886  23.3  259.0  994.0  3724.0  195.0  2559.0 -25.1  43.4
          -87.387508  23.3  264.0  996.0  3729.0  193.0  2554.0 -25.1  43.4

                        Eref    FFP     MAP   MAR   MAT  MCMT    MSP  MWMT  \
lat       lon
41.488534 -87.410886  1037.0  195.0  1015.0  14.5  13.6  -0.8  486.0  27.3
          -87.387508  1040.0  195.0  1013.0  14.6  13.7  -0.7  485.0  27.3

                       NFFD   PAS  PPT_sm  PPT_wt    RH   SHM    TD  Tave_sm  \
lat       lon
41.488534 -87.410886  233.0  20.0   291.0   171.0  65.0  56.0  28.0     26.1
          -87.387508  234.0  19.0   289.0   171.0  65.0  56.2  28.0     26.1

                      Tave_wt   bFFP   eFFP
lat       lon
41.488534 -87.410886      0.5  104.0  300.0
          -87.387508      0.5  104.0  300.0

Watching 27 jobs ...

NA_ENSEMBLE_rcp45_2080s-wl: 100%|███████████████| 27/27 [00:00<00:00, 246187.41it/s]

                        AHM    CMD   DD18     DD5   DD_0   DD_18   EMT   EXT  \
lat       lon
43.802969 -119.368800  52.2  780.0  274.0  2201.0  235.0  3414.0 -29.0  42.0
          -119.345422  54.7  786.0  280.0  2214.0  236.0  3410.0 -29.1  42.0

                         Eref    FFP    MAP   MAR  MAT  MCMT    MSP  MWMT  \
lat       lon
43.802969 -119.368800  1026.0  121.0  371.0  18.3  9.3  -0.7  102.0  21.4
          -119.345422  1027.0  122.0  354.0  18.5  9.4  -0.8  101.0  21.5

                        NFFD   PAS  PPT_sm  PPT_wt    RH    SHM    TD  \
lat       lon
43.802969 -119.368800  197.0  43.0    54.0   133.0  50.0  208.9  22.1
          -119.345422  197.0  40.0    53.0   123.0  50.0  212.4  22.3

                       Tave_sm  Tave_wt   bFFP   eFFP
lat       lon
43.802969 -119.368800     19.5      0.4  147.0  268.0
          -119.345422     19.6      0.4  147.0  269.0

Watching 27 jobs ...

NA_ENSEMBLE_rcp45_2080s-coastal: 100%|███████████████| 27/27 [00:00<00:00, 239421.16it/s]

                        AHM    CMD   DD18     DD5  DD_0   DD_18  EMT   EXT  \
lat       lon
36.251831 -121.776749  34.8  756.0  390.0  3871.0  12.0  1303.0 -5.1  39.4
          -121.753370  29.7  770.0  516.0  4006.0  14.0  1306.0 -5.4  40.2

                         Eref    FFP    MAP   MAR   MAT  MCMT   MSP  MWMT  \
lat       lon
36.251831 -121.776749  1143.0  337.0  735.0  19.1  15.6  11.2  25.0  20.4
          -121.753370  1166.0  333.0  873.0  18.5  15.9  10.9  27.0  22.0

                        NFFD  PAS  PPT_sm  PPT_wt    RH    SHM    TD  Tave_sm  \
lat       lon
36.251831 -121.776749  357.0  1.0     7.0   423.0  63.0  818.1   9.2     19.6
          -121.753370  357.0  2.0     8.0   506.0  64.0  805.1  11.1     21.0

                       Tave_wt  bFFP   eFFP
lat       lon
36.251831 -121.776749     11.6  21.0  358.0
          -121.753370     11.2  24.0  357.0

Watching 27 jobs ...

NA_ENSEMBLE_rcp85_2050s-interior: 100%|███████████████| 27/27 [00:00<00:00, 283115.52it/s]

                        AHM    CMD   DD18     DD5   DD_0   DD_18   EMT   EXT  \
lat       lon
42.002853 -111.724149  27.6  508.0  427.0  2489.0  290.0  3380.0 -27.7  40.2
          -111.700771  19.6  409.0  276.0  2097.0  371.0  3790.0 -29.4  38.2

                        Eref    FFP    MAP   MAR  MAT  MCMT    MSP  MWMT  \
lat       lon
42.002853 -111.724149  953.0  162.0  719.0  16.8  9.8  -2.0  212.0  23.7
          -111.700771  844.0  145.0  934.0  17.4  8.3  -2.9  234.0  21.7

                        NFFD    PAS  PPT_sm  PPT_wt    RH    SHM    TD  \
lat       lon
42.002853 -111.724149  226.0   94.0   105.0   225.0  60.0  111.7  25.6
          -111.700771  206.0  194.0   112.0   325.0  61.0   92.7  24.6

                       Tave_sm  Tave_wt   bFFP   eFFP
lat       lon
42.002853 -111.724149     21.5     -0.7  126.0  288.0
          -111.700771     19.6     -1.6  139.0  284.0

Watching 27 jobs ...

NA_ENSEMBLE_rcp85_2050s-combined: 100%|███████████████| 27/27 [00:00<00:00, 240437.81it/s]

                        AHM    CMD   DD18     DD5  DD_0   DD_18  EMT   EXT  \
lat       lon
34.545227 -120.490951  45.7  799.0  357.0  4016.0   9.0  1138.0 -5.2  39.9
          -120.467573  48.4  811.0  391.0  4102.0   8.0  1084.0 -3.9  40.0

                         Eref    FFP    MAP   MAR   MAT  MCMT   MSP  MWMT  \
lat       lon
34.545227 -120.490951  1200.0  345.0  568.0  25.7  16.0  12.5  24.0  19.9
          -120.467573  1198.0  356.0  542.0  25.6  16.2  12.7  22.0  20.1

                        NFFD  PAS  PPT_sm  PPT_wt    RH    SHM   TD  Tave_sm  \
lat       lon
34.545227 -120.490951  359.0  1.0     3.0   345.0  61.0  843.2  7.4     18.7
          -120.467573  362.0  0.0     2.0   328.0  62.0  916.0  7.4     19.0

                       Tave_wt  bFFP   eFFP
lat       lon
34.545227 -120.490951     12.9  15.0  360.0
          -120.467573     13.2   8.0  364.0

Watching 27 jobs ...

NA_ENSEMBLE_rcp85_2050s-jp: 100%|███████████████| 27/27 [00:00<00:00, 46.09it/s]

                       AHM    CMD    DD18     DD5   DD_0   DD_18   EMT   EXT  \
lat       lon
41.488534 -87.410886  23.5  268.0  1039.0  3799.0  190.0  2516.0 -25.0  43.8
          -87.387508  23.5  270.0  1041.0  3804.0  188.0  2511.0 -24.9  43.9

                        Eref    FFP     MAP   MAR   MAT  MCMT    MSP  MWMT  \
lat       lon
41.488534 -87.410886  1044.0  199.0  1016.0  14.0  13.9  -0.8  484.0  27.7
          -87.387508  1047.0  199.0  1014.0  14.1  13.9  -0.7  483.0  27.7

                       NFFD   PAS  PPT_sm  PPT_wt    RH   SHM    TD  Tave_sm  \
lat       lon
41.488534 -87.410886  236.0  19.0   285.0   174.0  65.0  57.2  28.4     26.4
          -87.387508  236.0  19.0   284.0   174.0  65.0  57.3  28.4     26.5

                      Tave_wt   bFFP   eFFP
lat       lon
41.488534 -87.410886      0.6  103.0  302.0
          -87.387508      0.6  103.0  302.0

Watching 27 jobs ...

NA_ENSEMBLE_rcp85_2050s-wl: 100%|███████████████| 27/27 [00:00<00:00, 212071.55it/s]

                        AHM    CMD   DD18     DD5   DD_0   DD_18   EMT   EXT  \
lat       lon
43.802969 -119.368800  52.7  787.0  293.0  2248.0  227.0  3369.0 -28.7  42.3
          -119.345422  55.2  795.0  299.0  2261.0  229.0  3366.0 -28.8  42.2

                         Eref    FFP    MAP   MAR  MAT  MCMT    MSP  MWMT  \
lat       lon
43.802969 -119.368800  1049.0  122.0  370.0  17.7  9.5  -0.7  101.0  21.7
          -119.345422  1033.0  123.0  354.0  17.9  9.5  -0.7   99.0  21.8

                        NFFD   PAS  PPT_sm  PPT_wt    RH    SHM    TD  \
lat       lon
43.802969 -119.368800  200.0  41.0    53.0   135.0  50.0  215.5  22.3
          -119.345422  200.0  39.0    52.0   125.0  50.0  219.1  22.5

                       Tave_sm  Tave_wt   bFFP   eFFP
lat       lon
43.802969 -119.368800     19.8      0.5  148.0  270.0
          -119.345422     19.9      0.5  147.0  270.0

Watching 27 jobs ...

NA_ENSEMBLE_rcp85_2050s-coastal: 100%|███████████████| 27/27 [00:00<00:00, 292625.86it/s]

                        AHM    CMD   DD18     DD5  DD_0   DD_18  EMT   EXT  \
lat       lon
36.251831 -121.776749  34.2  758.0  410.0  3922.0  12.0  1276.0 -5.1  39.6
          -121.753370  29.2  774.0  537.0  4051.0  13.0  1281.0 -5.4  40.3

                         Eref    FFP    MAP   MAR   MAT  MCMT   MSP  MWMT  \
lat       lon
36.251831 -121.776749  1148.0  339.0  753.0  20.8  15.7  11.3  26.0  20.6
          -121.753370  1171.0  335.0  894.0  20.2  16.1  10.9  29.0  22.2

                        NFFD  PAS  PPT_sm  PPT_wt    RH    SHM    TD  Tave_sm  \
lat       lon
36.251831 -121.776749  358.0  1.0     7.0   435.0  63.0  781.0   9.4     19.8
          -121.753370  357.0  2.0     8.0   520.0  64.0  772.3  11.2     21.1

                       Tave_wt  bFFP   eFFP
lat       lon
36.251831 -121.776749     11.7  19.0  358.0
          -121.753370     11.3  23.0  358.0

Watching 27 jobs ...

NA_ENSEMBLE_rcp85_2080s-interior: 100%|███████████████| 27/27 [00:00<00:00, 306070.83it/s]

                        AHM    CMD   DD18     DD5   DD_0   DD_18   EMT   EXT  \
lat       lon
42.002853 -111.724149  29.4  567.0  685.0  3017.0  173.0  2845.0 -22.9  42.1
          -111.700771  21.0  458.0  489.0  2595.0  226.0  3210.0 -24.8  40.1

                         Eref    FFP    MAP   MAR   MAT  MCMT    MSP  MWMT  \
lat       lon
42.002853 -111.724149  1059.0  184.0  748.0  16.1  12.0   0.4  211.0  26.3
          -111.700771   939.0  167.0  974.0  16.7  10.5  -0.5  233.0  24.3

                        NFFD    PAS  PPT_sm  PPT_wt    RH    SHM    TD  \
lat       lon
42.002853 -111.724149  258.0   47.0   104.0   242.0  61.0  124.3  25.9
          -111.700771  237.0  102.0   111.0   349.0  62.0  104.3  24.8

                       Tave_sm  Tave_wt   bFFP   eFFP
lat       lon
42.002853 -111.724149     24.0      1.5  115.0  299.0
          -111.700771     22.0      0.6  128.0  295.0

Watching 27 jobs ...

NA_ENSEMBLE_rcp85_2080s-combined: 100%|███████████████| 27/27 [00:00<00:00, 309415.87it/s]

                        AHM    CMD   DD18     DD5  DD_0  DD_18  EMT   EXT  \
lat       lon
34.545227 -120.490951  46.3  842.0  568.0  4513.0   6.0  841.0 -1.9  41.2
          -120.467573  49.0  849.0  611.0  4600.0   5.0  797.0 -0.6  41.3

                         Eref    FFP    MAP   MAR   MAT  MCMT   MSP  MWMT  \
lat       lon
34.545227 -120.490951  1245.0  363.0  591.0  24.4  17.4  13.9  22.0  21.3
          -120.467573  1242.0  365.0  563.0  24.3  17.6  14.1  21.0  21.6

                        NFFD  PAS  PPT_sm  PPT_wt    RH     SHM   TD  Tave_sm  \
lat       lon
34.545227 -120.490951  364.0  0.0     3.0   371.0  62.0   961.7  7.4     20.1
          -120.467573  365.0  0.0     2.0   353.0  63.0  1044.3  7.5     20.3

                       Tave_wt  bFFP   eFFP
lat       lon
34.545227 -120.490951     14.3   2.0  365.0
          -120.467573     14.5   0.0  365.0

Watching 27 jobs ...

NA_ENSEMBLE_rcp85_2080s-jp: 100%|███████████████| 27/27 [00:00<00:00, 197.90it/s]

                       AHM    CMD    DD18     DD5   DD_0   DD_18   EMT   EXT  \
lat       lon
41.488534 -87.410886  24.8  314.0  1385.0  4377.0  115.0  2117.0 -22.1  46.2
          -87.387508  24.9  318.0  1388.0  4382.0  114.0  2113.0 -22.0  46.2

                        Eref    FFP     MAP   MAR   MAT  MCMT    MSP  MWMT  \
lat       lon
41.488534 -87.410886  1130.0  223.0  1045.0  13.6  15.9   1.5  481.0  29.9
          -87.387508  1133.0  223.0  1043.0  13.6  15.9   1.5  480.0  29.9

                       NFFD  PAS  PPT_sm  PPT_wt    RH   SHM    TD  Tave_sm  \
lat       lon
41.488534 -87.410886  263.0  8.0   278.0   183.0  66.0  62.1  28.4     28.7
          -87.387508  263.0  8.0   277.0   183.0  66.0  62.3  28.4     28.7

                      Tave_wt  bFFP   eFFP
lat       lon
41.488534 -87.410886      2.6  88.0  311.0
          -87.387508      2.6  88.0  311.0

Watching 27 jobs ...

NA_ENSEMBLE_rcp85_2080s-wl: 100%|███████████████| 27/27 [00:00<00:00, 250544.71it/s]

                        AHM    CMD   DD18     DD5   DD_0   DD_18   EMT   EXT  \
lat       lon
43.802969 -119.368800  55.5  852.0  515.0  2739.0  149.0  2901.0 -25.2  44.5
          -119.345422  58.1  858.0  524.0  2752.0  151.0  2900.0 -25.3  44.4

                         Eref    FFP    MAP   MAR   MAT  MCMT    MSP  MWMT  \
lat       lon
43.802969 -119.368800  1142.0  147.0  386.0  17.0  11.4   1.1  100.0  24.2
          -119.345422  1143.0  148.0  369.0  17.2  11.4   1.1   99.0  24.3

                        NFFD   PAS  PPT_sm  PPT_wt    RH    SHM    TD  \
lat       lon
43.802969 -119.368800  230.0  23.0    53.0   144.0  51.0  240.9  23.1
          -119.345422  231.0  22.0    52.0   134.0  51.0  244.9  23.2

                       Tave_sm  Tave_wt   bFFP   eFFP
lat       lon
43.802969 -119.368800     22.2      2.2  137.0  284.0
          -119.345422     22.3      2.2  137.0  285.0

Watching 27 jobs ...

NA_ENSEMBLE_rcp85_2080s-coastal: 100%|███████████████| 27/27 [00:00<00:00, 281007.96it/s]

                        AHM    CMD   DD18     DD5  DD_0  DD_18  EMT   EXT  \
lat       lon
36.251831 -121.776749  33.5  790.0  627.0  4451.0   8.0  974.0 -1.5  41.1
          -121.753370  28.6  806.0  780.0  4582.0   9.0  994.0 -1.8  41.8

                         Eref    FFP    MAP   MAR   MAT  MCMT   MSP  MWMT  \
lat       lon
36.251831 -121.776749  1192.0  360.0  812.0  21.7  17.2  12.7  27.0  22.2
          -121.753370  1215.0  356.0  964.0  21.0  17.5  12.3  29.0  23.7

                        NFFD  PAS  PPT_sm  PPT_wt    RH    SHM    TD  Tave_sm  \
lat       lon
36.251831 -121.776749  364.0  1.0     7.0   480.0  64.0  835.8   9.5     21.2
          -121.753370  364.0  1.0     8.0   574.0  64.0  827.0  11.4     22.6

                       Tave_wt  bFFP   eFFP
lat       lon
36.251831 -121.776749     13.1   5.0  365.0
          -121.753370     12.7   7.0  364.0

Watching 27 jobs ...

NA_NORM_1961-1990-interior: 100%|███████████████| 27/27 [00:00<00:00, 212469.43it/s]

                        AHM    CMD   DD18     DD5   DD_0   DD_18   EMT   EXT  \
lat       lon
42.002853 -111.724149  23.2  395.0  123.0  1638.0  652.0  4533.0 -35.0  36.7
          -111.700771  16.2  309.0   57.0  1318.0  799.0  5024.0 -36.6  34.6

                        Eref    FFP    MAP   MAR  MAT  MCMT    MSP  MWMT  \
lat       lon
42.002853 -111.724149  758.0  117.0  684.0  17.6  5.8  -5.8  222.0  19.2
          -111.700771  664.0  100.0  883.0  18.2  4.3  -6.7  246.0  17.2

                        NFFD    PAS  PPT_sm  PPT_wt    RH   SHM    TD  \
lat       lon
42.002853 -111.724149  173.0  242.0   113.0   205.0  58.0  86.3  25.0
          -111.700771  155.0  419.0   121.0   296.0  59.0  70.0  24.0

                       Tave_sm  Tave_wt   bFFP   eFFP
lat       lon
42.002853 -111.724149     17.1     -4.6  151.0  268.0
          -111.700771     15.1     -5.6  164.0  264.0

Watching 27 jobs ...

NA_NORM_1961-1990-combined: 100%|███████████████| 27/27 [00:00<00:00, 280312.40it/s]

                        AHM    CMD   DD18     DD5  DD_0   DD_18  EMT   EXT  \
lat       lon
34.545227 -120.490951  46.4  729.0  127.0  3163.0  16.0  1751.0 -9.9  37.4
          -120.467573  49.0  738.0  142.0  3249.0  15.0  1694.0 -8.7  37.5

                         Eref    FFP    MAP   MAR   MAT  MCMT   MSP  MWMT  \
lat       lon
34.545227 -120.490951  1114.0  287.0  509.0  20.0  13.6  10.4  21.0  17.2
          -120.467573  1111.0  303.0  486.0  20.0  13.8  10.6  20.0  17.5

                        NFFD  PAS  PPT_sm  PPT_wt    RH    SHM   TD  Tave_sm  \
lat       lon
34.545227 -120.490951  341.0  1.0     2.0   288.0  61.0  805.9  6.8     16.3
          -120.467573  346.0  1.0     2.0   274.0  62.0  868.9  6.8     16.5

                       Tave_wt  bFFP   eFFP
lat       lon
34.545227 -120.490951     10.8  54.0  341.0
          -120.467573     11.0  43.0  346.0

Watching 27 jobs ...

NA_NORM_1961-1990-jp: 100%|███████████████| 27/27 [00:00<00:00, 155.70it/s]

                       AHM    CMD   DD18     DD5   DD_0   DD_18   EMT   EXT  \
lat       lon
41.488534 -87.410886  21.0  174.0  504.0  2839.0  444.0  3376.0 -30.3  39.6
          -87.387508  21.1  179.0  505.0  2843.0  441.0  3370.0 -30.3  39.6

                       Eref    FFP    MAP   MAR   MAT  MCMT    MSP  MWMT  \
lat       lon
41.488534 -87.410886  879.0  168.0  955.0  14.1  10.1  -4.9  488.0  23.3
          -87.387508  882.0  168.0  953.0  14.1  10.1  -4.9  487.0  23.4

                       NFFD   PAS  PPT_sm  PPT_wt    RH   SHM    TD  Tave_sm  \
lat       lon
41.488534 -87.410886  208.0  74.0   297.0   152.0  64.0  47.8  28.3     22.3
          -87.387508  207.0  74.0   295.0   152.0  64.0  47.9  28.2     22.3

                      Tave_wt   bFFP   eFFP
lat       lon
41.488534 -87.410886     -3.4  120.0  288.0
          -87.387508     -3.4  120.0  288.0

Watching 27 jobs ...

NA_NORM_1961-1990-wl: 100%|███████████████| 27/27 [00:00<00:00, 255634.78it/s]

                        AHM    CMD  DD18     DD5   DD_0   DD_18   EMT   EXT  \
lat       lon
43.802969 -119.368800  45.5  662.0  64.0  1491.0  458.0  4354.0 -34.5  38.5
          -119.345422  47.6  669.0  66.0  1504.0  461.0  4347.0 -34.5  38.4

                        Eref   FFP    MAP   MAR  MAT  MCMT    MSP  MWMT  \
lat       lon
43.802969 -119.368800  877.0  76.0  355.0  18.3  6.2  -3.8  109.0  17.2
          -119.345422  878.0  77.0  340.0  18.5  6.2  -3.9  107.0  17.3

                        NFFD   PAS  PPT_sm  PPT_wt    RH    SHM    TD  \
lat       lon
43.802969 -119.368800  147.0  97.0    59.0   121.0  49.0  158.3  21.0
          -119.345422  148.0  91.0    58.0   112.0  49.0  161.2  21.2

                       Tave_sm  Tave_wt   bFFP   eFFP
lat       lon
43.802969 -119.368800     15.6     -2.6  170.0  245.0
          -119.345422     15.7     -2.6  169.0  246.0

Watching 27 jobs ...

NA_NORM_1961-1990-coastal: 100%|███████████████| 27/27 [00:00<00:00, 243540.23it/s]

                        AHM    CMD   DD18     DD5  DD_0   DD_18   EMT   EXT  \
lat       lon
36.251831 -121.776749  33.6  678.0  151.0  3050.0  22.0  1901.0 -10.0  36.9
          -121.753370  28.7  691.0  239.0  3182.0  25.0  1855.0 -10.3  37.7

                         Eref    FFP    MAP   MAR   MAT  MCMT   MSP  MWMT  \
lat       lon
36.251831 -121.776749  1057.0  278.0  692.0  18.0  13.3   9.1  26.0  17.8
          -121.753370  1079.0  277.0  822.0  17.5  13.6   8.8  29.0  19.5

                        NFFD  PAS  PPT_sm  PPT_wt    RH    SHM    TD  Tave_sm  \
lat       lon
36.251831 -121.776749  338.0  3.0     7.0   373.0  63.0  674.8   8.6     17.0
          -121.753370  337.0  4.0     8.0   445.0  63.0  667.7  10.7     18.4

                       Tave_wt  bFFP   eFFP
lat       lon
36.251831 -121.776749      9.5  61.0  339.0
          -121.753370      9.2  63.0  340.0

Watching 2 jobs ...

NA_Reference_files_netCDF-interior: 100%|███████████████| 2/2 [00:00<00:00, 35098.78it/s]

                       ClimateNA_DEM  ClimateNA_ID
lat       lon
42.002853 -111.724149         2008.0    32298528.0
          -111.700771         2369.0    32305812.0

Watching 2 jobs ...

NA_Reference_files_netCDF-combined: 100%|███████████████| 2/2 [00:00<00:00, 22075.28it/s]

                       ClimateNA_DEM  ClimateNA_ID
lat       lon
34.545227 -120.490951          418.0    36382680.0
          -120.467573          318.0    36389964.0

Watching 2 jobs ...

NA_Reference_files_netCDF-jp: 100%|███████████████| 2/2 [00:00<00:00, 21183.35it/s]

                      ClimateNA_DEM  ClimateNA_ID
lat       lon
41.488534 -87.410886          197.0    33807972.0
          -87.387508          197.0    33807976.0

Watching 2 jobs ...

NA_Reference_files_netCDF-wl: 100%|███████████████| 2/2 [00:00<00:00, 32140.26it/s]

                       ClimateNA_DEM  ClimateNA_ID
lat       lon
43.802969 -119.368800         1419.0    29399748.0
          -119.345422         1430.0    29399750.0

Watching 2 jobs ...

NA_Reference_files_netCDF-coastal: 100%|███████████████| 2/2 [00:00<00:00, 17623.13it/s]

                       ClimateNA_DEM  ClimateNA_ID
lat       lon
36.251831 -121.776749          354.0    34656812.0
          -121.753370          469.0    34664096.0

In [27]:
# BEFORE REVISION:
# # merge elevation data into each of the files
# dfs = defaultdict(dict)
# for d, sppdict in tmp_dfs.items():
#     if d == 'NA_Reference_files_netCDF':
#         # skip elevation because I don't want to merge elevation into elevation, duh
#         continue
#     for spp,df in sppdict.items():
#         print(ColorText(f'{d}-{spp}').bold().blue())
#         # combine climate and elevation data, use lat/long index to do this properly
#         combo_df = pd.concat([df.copy(), tmp_dfs['NA_Reference_files_netCDF'][spp]], axis=1)
#         combo_df.pop('ClimateNA_ID')  # remove unnecessary info
#         assert combo_df.columns.values[-1] == 'ClimateNA_DEM'
#         combo_df.columns.values[-1] = 'Elevation'  # I prefer this variable name
#         dfs[d][spp] = combo_df.copy()
#         display(dfs[d][spp].head(2))

# FOR REVISION:
# instead of merging elevation data into each of the files
    # just copy `tmp_dfs` into `dfs`
dfs = defaultdict(dict)
for d, sppdict in tmp_dfs.items():
    if d == 'NA_Reference_files_netCDF':
        # skip elevation because I don't want to merge elevation into elevation, duh
        continue
    for spp, df in sppdict.items():
        print(ColorText(f'{d}-{spp}').bold().blue())
#         # combine climate and elevation data, use lat/long index to do this properly
#         combo_df = pd.concat([df.copy(), tmp_dfs['NA_Reference_files_netCDF'][spp]], axis=1)
#         combo_df.pop('ClimateNA_ID')  # remove unnecessary info
#         assert combo_df.columns.values[-1] == 'ClimateNA_DEM'
#         combo_df.columns.values[-1] = 'Elevation'  # I prefer this variable name
#         dfs[d][spp] = combo_df.copy()

        dfs[d][spp] = df.copy()
        display(dfs[d][spp].head(2))

NA_ENSEMBLE_rcp45_2050s-interior

                        AHM    CMD   DD18     DD5   DD_0   DD_18   EMT   EXT  \
lat       lon
42.002853 -111.724149  26.6  475.0  334.0  2271.0  358.0  3639.0 -29.6  39.5
          -111.700771  18.9  380.0  207.0  1894.0  454.0  4064.0 -31.3  37.5

                        Eref    FFP    MAP   MAR  MAT  MCMT    MSP  MWMT  \
lat       lon
42.002853 -111.724149  896.0  153.0  710.0  17.5  8.9  -2.8  217.0  22.5
          -111.700771  815.0  136.0  920.0  18.2  7.3  -3.7  240.0  20.6

                        NFFD    PAS  PPT_sm  PPT_wt    RH    SHM    TD  \
lat       lon
42.002853 -111.724149  213.0  123.0   108.0   216.0  60.0  103.7  25.4
          -111.700771  193.0  244.0   115.0   312.0  61.0   85.8  24.3

                       Tave_sm  Tave_wt   bFFP   eFFP
lat       lon
42.002853 -111.724149     20.4     -1.7  129.0  283.0
          -111.700771     18.5     -2.6  143.0  279.0

NA_ENSEMBLE_rcp45_2050s-combined

                        AHM    CMD   DD18     DD5  DD_0   DD_18  EMT   EXT  \
lat       lon
34.545227 -120.490951  47.7  791.0  279.0  3804.0  10.0  1276.0 -6.0  39.2
          -120.467573  50.4  800.0  308.0  3890.0   9.0  1218.0 -4.8  39.3

                         Eref    FFP    MAP   MAR   MAT  MCMT   MSP  MWMT  \
lat       lon
34.545227 -120.490951  1179.0  334.0  532.0  21.6  15.4  12.1  21.0  19.2
          -120.467573  1176.0  346.0  508.0  21.5  15.6  12.3  20.0  19.4

                        NFFD  PAS  PPT_sm  PPT_wt    RH    SHM   TD  Tave_sm  \
lat       lon
34.545227 -120.490951  356.0  1.0     3.0   318.0  61.0  905.1  7.1     18.1
          -120.467573  359.0  1.0     2.0   303.0  62.0  980.7  7.1     18.3

                       Tave_wt  bFFP   eFFP
lat       lon
34.545227 -120.490951     12.4  22.0  356.0
          -120.467573     12.6  14.0  360.0

NA_ENSEMBLE_rcp45_2050s-jp

                       AHM    CMD   DD18     DD5   DD_0   DD_18   EMT   EXT  \
lat       lon
41.488534 -87.410886  22.9  246.0  907.0  3565.0  229.0  2695.0 -26.0  42.8
          -87.387508  23.0  249.0  909.0  3570.0  228.0  2690.0 -26.0  42.8

                        Eref    FFP     MAP   MAR   MAT  MCMT    MSP  MWMT  \
lat       lon
41.488534 -87.410886  1015.0  190.0  1005.0  14.5  13.0  -1.7  485.0  26.6
          -87.387508  1018.0  190.0  1003.0  14.5  13.0  -1.6  484.0  26.6

                       NFFD   PAS  PPT_sm  PPT_wt    RH   SHM    TD  Tave_sm  \
lat       lon
41.488534 -87.410886  227.0  26.0   288.0   167.0  65.0  54.8  28.3     25.5
          -87.387508  227.0  26.0   287.0   167.0  65.0  54.9  28.2     25.5

                      Tave_wt   bFFP   eFFP
lat       lon
41.488534 -87.410886     -0.2  107.0  297.0
          -87.387508     -0.2  107.0  297.0

NA_ENSEMBLE_rcp45_2050s-wl

                        AHM    CMD   DD18     DD5   DD_0   DD_18   EMT   EXT  \
lat       lon
43.802969 -119.368800  51.5  761.0  217.0  2047.0  266.0  3581.0 -29.9  41.6
          -119.345422  53.9  769.0  223.0  2060.0  267.0  3577.0 -29.9  41.5

                         Eref    FFP    MAP   MAR  MAT  MCMT    MSP  MWMT  \
lat       lon
43.802969 -119.368800  1002.0  111.0  363.0  18.3  8.7  -1.2  102.0  20.5
          -119.345422  1003.0  112.0  348.0  18.5  8.7  -1.3  101.0  20.6

                        NFFD   PAS  PPT_sm  PPT_wt    RH    SHM    TD  \
lat       lon
43.802969 -119.368800  187.0  50.0    53.0   129.0  50.0  200.8  21.7
          -119.345422  187.0  47.0    53.0   120.0  50.0  204.2  21.9

                       Tave_sm  Tave_wt   bFFP   eFFP
lat       lon
43.802969 -119.368800     18.7     -0.1  152.0  263.0
          -119.345422     18.8     -0.2  152.0  263.0

NA_ENSEMBLE_rcp45_2050s-coastal

                        AHM    CMD   DD18     DD5  DD_0   DD_18  EMT   EXT  \
lat       lon
36.251831 -121.776749  34.7  743.0  326.0  3699.0  14.0  1419.0 -6.2  39.0
          -121.753370  29.7  759.0  449.0  3837.0  15.0  1406.0 -6.5  39.8

                         Eref    FFP    MAP   MAR   MAT  MCMT   MSP  MWMT  \
lat       lon
36.251831 -121.776749  1126.0  327.0  723.0  19.1  15.1  10.8  26.0  19.9
          -121.753370  1149.0  323.0  858.0  18.5  15.5  10.5  28.0  21.5

                        NFFD  PAS  PPT_sm  PPT_wt    RH    SHM    TD  Tave_sm  \
lat       lon
36.251831 -121.776749  355.0  1.0     7.0   411.0  63.0  770.2   9.1     19.1
          -121.753370  353.0  2.0     8.0   491.0  64.0  762.3  11.0     20.5

                       Tave_wt  bFFP   eFFP
lat       lon
36.251831 -121.776749     11.2  28.0  354.0
          -121.753370     10.8  31.0  354.0

NA_ENSEMBLE_rcp45_2080s-interior

                        AHM    CMD   DD18     DD5   DD_0   DD_18   EMT   EXT  \
lat       lon
42.002853 -111.724149  27.0  495.0  398.0  2430.0  304.0  3441.0 -28.2  39.8
          -111.700771  19.2  399.0  255.0  2042.0  389.0  3856.0 -30.0  37.8

                        Eref    FFP    MAP   MAR  MAT  MCMT    MSP  MWMT  \
lat       lon
42.002853 -111.724149  946.0  160.0  726.0  17.5  9.6  -2.1  216.0  23.4
          -111.700771  837.0  143.0  942.0  18.1  8.1  -3.0  239.0  21.5

                        NFFD    PAS  PPT_sm  PPT_wt    RH    SHM    TD  \
lat       lon
42.002853 -111.724149  223.0  101.0   109.0   226.0  60.0  108.4  25.5
          -111.700771  202.0  206.0   117.0   325.0  61.0   90.0  24.4

                       Tave_sm  Tave_wt   bFFP   eFFP
lat       lon
42.002853 -111.724149     21.2     -0.9  126.0  286.0
          -111.700771     19.3     -1.8  139.0  283.0

NA_ENSEMBLE_rcp45_2080s-combined

                        AHM    CMD   DD18     DD5  DD_0   DD_18  EMT   EXT  \
lat       lon
34.545227 -120.490951  47.8  805.0  340.0  3975.0   9.0  1162.0 -5.1  39.7
          -120.467573  50.5  815.0  373.0  4061.0   8.0  1107.0 -3.8  39.8

                         Eref    FFP    MAP   MAR   MAT  MCMT   MSP  MWMT  \
lat       lon
34.545227 -120.490951  1196.0  344.0  541.0  21.6  15.9  12.5  20.0  19.7
          -120.467573  1193.0  354.0  517.0  21.5  16.1  12.7  19.0  19.9

                        NFFD  PAS  PPT_sm  PPT_wt    RH     SHM   TD  Tave_sm  \
lat       lon
34.545227 -120.490951  359.0  1.0     2.0   327.0  61.0   963.4  7.2     18.6
          -120.467573  361.0  0.0     2.0   311.0  62.0  1041.8  7.2     18.8

                       Tave_wt  bFFP   eFFP
lat       lon
34.545227 -120.490951     12.8  16.0  360.0
          -120.467573     13.1   9.0  363.0

NA_ENSEMBLE_rcp45_2080s-jp

                       AHM    CMD   DD18     DD5   DD_0   DD_18   EMT   EXT  \
lat       lon
41.488534 -87.410886  23.3  259.0  994.0  3724.0  195.0  2559.0 -25.1  43.4
          -87.387508  23.3  264.0  996.0  3729.0  193.0  2554.0 -25.1  43.4

                        Eref    FFP     MAP   MAR   MAT  MCMT    MSP  MWMT  \
lat       lon
41.488534 -87.410886  1037.0  195.0  1015.0  14.5  13.6  -0.8  486.0  27.3
          -87.387508  1040.0  195.0  1013.0  14.6  13.7  -0.7  485.0  27.3

                       NFFD   PAS  PPT_sm  PPT_wt    RH   SHM    TD  Tave_sm  \
lat       lon
41.488534 -87.410886  233.0  20.0   291.0   171.0  65.0  56.0  28.0     26.1
          -87.387508  234.0  19.0   289.0   171.0  65.0  56.2  28.0     26.1

                      Tave_wt   bFFP   eFFP
lat       lon
41.488534 -87.410886      0.5  104.0  300.0
          -87.387508      0.5  104.0  300.0

NA_ENSEMBLE_rcp45_2080s-wl

                        AHM    CMD   DD18     DD5   DD_0   DD_18   EMT   EXT  \
lat       lon
43.802969 -119.368800  52.2  780.0  274.0  2201.0  235.0  3414.0 -29.0  42.0
          -119.345422  54.7  786.0  280.0  2214.0  236.0  3410.0 -29.1  42.0

                         Eref    FFP    MAP   MAR  MAT  MCMT    MSP  MWMT  \
lat       lon
43.802969 -119.368800  1026.0  121.0  371.0  18.3  9.3  -0.7  102.0  21.4
          -119.345422  1027.0  122.0  354.0  18.5  9.4  -0.8  101.0  21.5

                        NFFD   PAS  PPT_sm  PPT_wt    RH    SHM    TD  \
lat       lon
43.802969 -119.368800  197.0  43.0    54.0   133.0  50.0  208.9  22.1
          -119.345422  197.0  40.0    53.0   123.0  50.0  212.4  22.3

                       Tave_sm  Tave_wt   bFFP   eFFP
lat       lon
43.802969 -119.368800     19.5      0.4  147.0  268.0
          -119.345422     19.6      0.4  147.0  269.0

NA_ENSEMBLE_rcp45_2080s-coastal

                        AHM    CMD   DD18     DD5  DD_0   DD_18  EMT   EXT  \
lat       lon
36.251831 -121.776749  34.8  756.0  390.0  3871.0  12.0  1303.0 -5.1  39.4
          -121.753370  29.7  770.0  516.0  4006.0  14.0  1306.0 -5.4  40.2

                         Eref    FFP    MAP   MAR   MAT  MCMT   MSP  MWMT  \
lat       lon
36.251831 -121.776749  1143.0  337.0  735.0  19.1  15.6  11.2  25.0  20.4
          -121.753370  1166.0  333.0  873.0  18.5  15.9  10.9  27.0  22.0

                        NFFD  PAS  PPT_sm  PPT_wt    RH    SHM    TD  Tave_sm  \
lat       lon
36.251831 -121.776749  357.0  1.0     7.0   423.0  63.0  818.1   9.2     19.6
          -121.753370  357.0  2.0     8.0   506.0  64.0  805.1  11.1     21.0

                       Tave_wt  bFFP   eFFP
lat       lon
36.251831 -121.776749     11.6  21.0  358.0
          -121.753370     11.2  24.0  357.0

NA_ENSEMBLE_rcp85_2050s-interior

                        AHM    CMD   DD18     DD5   DD_0   DD_18   EMT   EXT  \
lat       lon
42.002853 -111.724149  27.6  508.0  427.0  2489.0  290.0  3380.0 -27.7  40.2
          -111.700771  19.6  409.0  276.0  2097.0  371.0  3790.0 -29.4  38.2

                        Eref    FFP    MAP   MAR  MAT  MCMT    MSP  MWMT  \
lat       lon
42.002853 -111.724149  953.0  162.0  719.0  16.8  9.8  -2.0  212.0  23.7
          -111.700771  844.0  145.0  934.0  17.4  8.3  -2.9  234.0  21.7

                        NFFD    PAS  PPT_sm  PPT_wt    RH    SHM    TD  \
lat       lon
42.002853 -111.724149  226.0   94.0   105.0   225.0  60.0  111.7  25.6
          -111.700771  206.0  194.0   112.0   325.0  61.0   92.7  24.6

                       Tave_sm  Tave_wt   bFFP   eFFP
lat       lon
42.002853 -111.724149     21.5     -0.7  126.0  288.0
          -111.700771     19.6     -1.6  139.0  284.0

NA_ENSEMBLE_rcp85_2050s-combined

                        AHM    CMD   DD18     DD5  DD_0   DD_18  EMT   EXT  \
lat       lon
34.545227 -120.490951  45.7  799.0  357.0  4016.0   9.0  1138.0 -5.2  39.9
          -120.467573  48.4  811.0  391.0  4102.0   8.0  1084.0 -3.9  40.0

                         Eref    FFP    MAP   MAR   MAT  MCMT   MSP  MWMT  \
lat       lon
34.545227 -120.490951  1200.0  345.0  568.0  25.7  16.0  12.5  24.0  19.9
          -120.467573  1198.0  356.0  542.0  25.6  16.2  12.7  22.0  20.1

                        NFFD  PAS  PPT_sm  PPT_wt    RH    SHM   TD  Tave_sm  \
lat       lon
34.545227 -120.490951  359.0  1.0     3.0   345.0  61.0  843.2  7.4     18.7
          -120.467573  362.0  0.0     2.0   328.0  62.0  916.0  7.4     19.0

                       Tave_wt  bFFP   eFFP
lat       lon
34.545227 -120.490951     12.9  15.0  360.0
          -120.467573     13.2   8.0  364.0

NA_ENSEMBLE_rcp85_2050s-jp

                       AHM    CMD    DD18     DD5   DD_0   DD_18   EMT   EXT  \
lat       lon
41.488534 -87.410886  23.5  268.0  1039.0  3799.0  190.0  2516.0 -25.0  43.8
          -87.387508  23.5  270.0  1041.0  3804.0  188.0  2511.0 -24.9  43.9

                        Eref    FFP     MAP   MAR   MAT  MCMT    MSP  MWMT  \
lat       lon
41.488534 -87.410886  1044.0  199.0  1016.0  14.0  13.9  -0.8  484.0  27.7
          -87.387508  1047.0  199.0  1014.0  14.1  13.9  -0.7  483.0  27.7

                       NFFD   PAS  PPT_sm  PPT_wt    RH   SHM    TD  Tave_sm  \
lat       lon
41.488534 -87.410886  236.0  19.0   285.0   174.0  65.0  57.2  28.4     26.4
          -87.387508  236.0  19.0   284.0   174.0  65.0  57.3  28.4     26.5

                      Tave_wt   bFFP   eFFP
lat       lon
41.488534 -87.410886      0.6  103.0  302.0
          -87.387508      0.6  103.0  302.0

NA_ENSEMBLE_rcp85_2050s-wl

                        AHM    CMD   DD18     DD5   DD_0   DD_18   EMT   EXT  \
lat       lon
43.802969 -119.368800  52.7  787.0  293.0  2248.0  227.0  3369.0 -28.7  42.3
          -119.345422  55.2  795.0  299.0  2261.0  229.0  3366.0 -28.8  42.2

                         Eref    FFP    MAP   MAR  MAT  MCMT    MSP  MWMT  \
lat       lon
43.802969 -119.368800  1049.0  122.0  370.0  17.7  9.5  -0.7  101.0  21.7
          -119.345422  1033.0  123.0  354.0  17.9  9.5  -0.7   99.0  21.8

                        NFFD   PAS  PPT_sm  PPT_wt    RH    SHM    TD  \
lat       lon
43.802969 -119.368800  200.0  41.0    53.0   135.0  50.0  215.5  22.3
          -119.345422  200.0  39.0    52.0   125.0  50.0  219.1  22.5

                       Tave_sm  Tave_wt   bFFP   eFFP
lat       lon
43.802969 -119.368800     19.8      0.5  148.0  270.0
          -119.345422     19.9      0.5  147.0  270.0

NA_ENSEMBLE_rcp85_2050s-coastal

                        AHM    CMD   DD18     DD5  DD_0   DD_18  EMT   EXT  \
lat       lon
36.251831 -121.776749  34.2  758.0  410.0  3922.0  12.0  1276.0 -5.1  39.6
          -121.753370  29.2  774.0  537.0  4051.0  13.0  1281.0 -5.4  40.3

                         Eref    FFP    MAP   MAR   MAT  MCMT   MSP  MWMT  \
lat       lon
36.251831 -121.776749  1148.0  339.0  753.0  20.8  15.7  11.3  26.0  20.6
          -121.753370  1171.0  335.0  894.0  20.2  16.1  10.9  29.0  22.2

                        NFFD  PAS  PPT_sm  PPT_wt    RH    SHM    TD  Tave_sm  \
lat       lon
36.251831 -121.776749  358.0  1.0     7.0   435.0  63.0  781.0   9.4     19.8
          -121.753370  357.0  2.0     8.0   520.0  64.0  772.3  11.2     21.1

                       Tave_wt  bFFP   eFFP
lat       lon
36.251831 -121.776749     11.7  19.0  358.0
          -121.753370     11.3  23.0  358.0

NA_ENSEMBLE_rcp85_2080s-interior

                        AHM    CMD   DD18     DD5   DD_0   DD_18   EMT   EXT  \
lat       lon
42.002853 -111.724149  29.4  567.0  685.0  3017.0  173.0  2845.0 -22.9  42.1
          -111.700771  21.0  458.0  489.0  2595.0  226.0  3210.0 -24.8  40.1

                         Eref    FFP    MAP   MAR   MAT  MCMT    MSP  MWMT  \
lat       lon
42.002853 -111.724149  1059.0  184.0  748.0  16.1  12.0   0.4  211.0  26.3
          -111.700771   939.0  167.0  974.0  16.7  10.5  -0.5  233.0  24.3

                        NFFD    PAS  PPT_sm  PPT_wt    RH    SHM    TD  \
lat       lon
42.002853 -111.724149  258.0   47.0   104.0   242.0  61.0  124.3  25.9
          -111.700771  237.0  102.0   111.0   349.0  62.0  104.3  24.8

                       Tave_sm  Tave_wt   bFFP   eFFP
lat       lon
42.002853 -111.724149     24.0      1.5  115.0  299.0
          -111.700771     22.0      0.6  128.0  295.0

NA_ENSEMBLE_rcp85_2080s-combined

                        AHM    CMD   DD18     DD5  DD_0  DD_18  EMT   EXT  \
lat       lon
34.545227 -120.490951  46.3  842.0  568.0  4513.0   6.0  841.0 -1.9  41.2
          -120.467573  49.0  849.0  611.0  4600.0   5.0  797.0 -0.6  41.3

                         Eref    FFP    MAP   MAR   MAT  MCMT   MSP  MWMT  \
lat       lon
34.545227 -120.490951  1245.0  363.0  591.0  24.4  17.4  13.9  22.0  21.3
          -120.467573  1242.0  365.0  563.0  24.3  17.6  14.1  21.0  21.6

                        NFFD  PAS  PPT_sm  PPT_wt    RH     SHM   TD  Tave_sm  \
lat       lon
34.545227 -120.490951  364.0  0.0     3.0   371.0  62.0   961.7  7.4     20.1
          -120.467573  365.0  0.0     2.0   353.0  63.0  1044.3  7.5     20.3

                       Tave_wt  bFFP   eFFP
lat       lon
34.545227 -120.490951     14.3   2.0  365.0
          -120.467573     14.5   0.0  365.0

NA_ENSEMBLE_rcp85_2080s-jp

                       AHM    CMD    DD18     DD5   DD_0   DD_18   EMT   EXT  \
lat       lon
41.488534 -87.410886  24.8  314.0  1385.0  4377.0  115.0  2117.0 -22.1  46.2
          -87.387508  24.9  318.0  1388.0  4382.0  114.0  2113.0 -22.0  46.2

                        Eref    FFP     MAP   MAR   MAT  MCMT    MSP  MWMT  \
lat       lon
41.488534 -87.410886  1130.0  223.0  1045.0  13.6  15.9   1.5  481.0  29.9
          -87.387508  1133.0  223.0  1043.0  13.6  15.9   1.5  480.0  29.9

                       NFFD  PAS  PPT_sm  PPT_wt    RH   SHM    TD  Tave_sm  \
lat       lon
41.488534 -87.410886  263.0  8.0   278.0   183.0  66.0  62.1  28.4     28.7
          -87.387508  263.0  8.0   277.0   183.0  66.0  62.3  28.4     28.7

                      Tave_wt  bFFP   eFFP
lat       lon
41.488534 -87.410886      2.6  88.0  311.0
          -87.387508      2.6  88.0  311.0

NA_ENSEMBLE_rcp85_2080s-wl

                        AHM    CMD   DD18     DD5   DD_0   DD_18   EMT   EXT  \
lat       lon
43.802969 -119.368800  55.5  852.0  515.0  2739.0  149.0  2901.0 -25.2  44.5
          -119.345422  58.1  858.0  524.0  2752.0  151.0  2900.0 -25.3  44.4

                         Eref    FFP    MAP   MAR   MAT  MCMT    MSP  MWMT  \
lat       lon
43.802969 -119.368800  1142.0  147.0  386.0  17.0  11.4   1.1  100.0  24.2
          -119.345422  1143.0  148.0  369.0  17.2  11.4   1.1   99.0  24.3

                        NFFD   PAS  PPT_sm  PPT_wt    RH    SHM    TD  \
lat       lon
43.802969 -119.368800  230.0  23.0    53.0   144.0  51.0  240.9  23.1
          -119.345422  231.0  22.0    52.0   134.0  51.0  244.9  23.2

                       Tave_sm  Tave_wt   bFFP   eFFP
lat       lon
43.802969 -119.368800     22.2      2.2  137.0  284.0
          -119.345422     22.3      2.2  137.0  285.0

NA_ENSEMBLE_rcp85_2080s-coastal

                        AHM    CMD   DD18     DD5  DD_0  DD_18  EMT   EXT  \
lat       lon
36.251831 -121.776749  33.5  790.0  627.0  4451.0   8.0  974.0 -1.5  41.1
          -121.753370  28.6  806.0  780.0  4582.0   9.0  994.0 -1.8  41.8

                         Eref    FFP    MAP   MAR   MAT  MCMT   MSP  MWMT  \
lat       lon
36.251831 -121.776749  1192.0  360.0  812.0  21.7  17.2  12.7  27.0  22.2
          -121.753370  1215.0  356.0  964.0  21.0  17.5  12.3  29.0  23.7

                        NFFD  PAS  PPT_sm  PPT_wt    RH    SHM    TD  Tave_sm  \
lat       lon
36.251831 -121.776749  364.0  1.0     7.0   480.0  64.0  835.8   9.5     21.2
          -121.753370  364.0  1.0     8.0   574.0  64.0  827.0  11.4     22.6

                       Tave_wt  bFFP   eFFP
lat       lon
36.251831 -121.776749     13.1   5.0  365.0
          -121.753370     12.7   7.0  364.0

NA_NORM_1961-1990-interior

                        AHM    CMD   DD18     DD5   DD_0   DD_18   EMT   EXT  \
lat       lon
42.002853 -111.724149  23.2  395.0  123.0  1638.0  652.0  4533.0 -35.0  36.7
          -111.700771  16.2  309.0   57.0  1318.0  799.0  5024.0 -36.6  34.6

                        Eref    FFP    MAP   MAR  MAT  MCMT    MSP  MWMT  \
lat       lon
42.002853 -111.724149  758.0  117.0  684.0  17.6  5.8  -5.8  222.0  19.2
          -111.700771  664.0  100.0  883.0  18.2  4.3  -6.7  246.0  17.2

                        NFFD    PAS  PPT_sm  PPT_wt    RH   SHM    TD  \
lat       lon
42.002853 -111.724149  173.0  242.0   113.0   205.0  58.0  86.3  25.0
          -111.700771  155.0  419.0   121.0   296.0  59.0  70.0  24.0

                       Tave_sm  Tave_wt   bFFP   eFFP
lat       lon
42.002853 -111.724149     17.1     -4.6  151.0  268.0
          -111.700771     15.1     -5.6  164.0  264.0

NA_NORM_1961-1990-combined

                        AHM    CMD   DD18     DD5  DD_0   DD_18  EMT   EXT  \
lat       lon
34.545227 -120.490951  46.4  729.0  127.0  3163.0  16.0  1751.0 -9.9  37.4
          -120.467573  49.0  738.0  142.0  3249.0  15.0  1694.0 -8.7  37.5

                         Eref    FFP    MAP   MAR   MAT  MCMT   MSP  MWMT  \
lat       lon
34.545227 -120.490951  1114.0  287.0  509.0  20.0  13.6  10.4  21.0  17.2
          -120.467573  1111.0  303.0  486.0  20.0  13.8  10.6  20.0  17.5

                        NFFD  PAS  PPT_sm  PPT_wt    RH    SHM   TD  Tave_sm  \
lat       lon
34.545227 -120.490951  341.0  1.0     2.0   288.0  61.0  805.9  6.8     16.3
          -120.467573  346.0  1.0     2.0   274.0  62.0  868.9  6.8     16.5

                       Tave_wt  bFFP   eFFP
lat       lon
34.545227 -120.490951     10.8  54.0  341.0
          -120.467573     11.0  43.0  346.0

NA_NORM_1961-1990-jp

                       AHM    CMD   DD18     DD5   DD_0   DD_18   EMT   EXT  \
lat       lon
41.488534 -87.410886  21.0  174.0  504.0  2839.0  444.0  3376.0 -30.3  39.6
          -87.387508  21.1  179.0  505.0  2843.0  441.0  3370.0 -30.3  39.6

                       Eref    FFP    MAP   MAR   MAT  MCMT    MSP  MWMT  \
lat       lon
41.488534 -87.410886  879.0  168.0  955.0  14.1  10.1  -4.9  488.0  23.3
          -87.387508  882.0  168.0  953.0  14.1  10.1  -4.9  487.0  23.4

                       NFFD   PAS  PPT_sm  PPT_wt    RH   SHM    TD  Tave_sm  \
lat       lon
41.488534 -87.410886  208.0  74.0   297.0   152.0  64.0  47.8  28.3     22.3
          -87.387508  207.0  74.0   295.0   152.0  64.0  47.9  28.2     22.3

                      Tave_wt   bFFP   eFFP
lat       lon
41.488534 -87.410886     -3.4  120.0  288.0
          -87.387508     -3.4  120.0  288.0

NA_NORM_1961-1990-wl

                        AHM    CMD  DD18     DD5   DD_0   DD_18   EMT   EXT  \
lat       lon
43.802969 -119.368800  45.5  662.0  64.0  1491.0  458.0  4354.0 -34.5  38.5
          -119.345422  47.6  669.0  66.0  1504.0  461.0  4347.0 -34.5  38.4

                        Eref   FFP    MAP   MAR  MAT  MCMT    MSP  MWMT  \
lat       lon
43.802969 -119.368800  877.0  76.0  355.0  18.3  6.2  -3.8  109.0  17.2
          -119.345422  878.0  77.0  340.0  18.5  6.2  -3.9  107.0  17.3

                        NFFD   PAS  PPT_sm  PPT_wt    RH    SHM    TD  \
lat       lon
43.802969 -119.368800  147.0  97.0    59.0   121.0  49.0  158.3  21.0
          -119.345422  148.0  91.0    58.0   112.0  49.0  161.2  21.2

                       Tave_sm  Tave_wt   bFFP   eFFP
lat       lon
43.802969 -119.368800     15.6     -2.6  170.0  245.0
          -119.345422     15.7     -2.6  169.0  246.0

NA_NORM_1961-1990-coastal

                        AHM    CMD   DD18     DD5  DD_0   DD_18   EMT   EXT  \
lat       lon
36.251831 -121.776749  33.6  678.0  151.0  3050.0  22.0  1901.0 -10.0  36.9
          -121.753370  28.7  691.0  239.0  3182.0  25.0  1855.0 -10.3  37.7

                         Eref    FFP    MAP   MAR   MAT  MCMT   MSP  MWMT  \
lat       lon
36.251831 -121.776749  1057.0  278.0  692.0  18.0  13.3   9.1  26.0  17.8
          -121.753370  1079.0  277.0  822.0  17.5  13.6   8.8  29.0  19.5

                        NFFD  PAS  PPT_sm  PPT_wt    RH    SHM    TD  Tave_sm  \
lat       lon
36.251831 -121.776749  338.0  3.0     7.0   373.0  63.0  674.8   8.6     17.0
          -121.753370  337.0  4.0     8.0   445.0  63.0  667.7  10.7     18.4

                       Tave_wt  bFFP   eFFP
lat       lon
36.251831 -121.776749      9.5  61.0  339.0
          -121.753370      9.2  63.0  340.0

<a id='save'></a>
# 6. save

[top](#home)

In [28]:
# save
for d, sppdict in dfs.items():
    for spp,df in sppdict.items():
        print(ColorText(f'{d}-{spp}').bold().blue())
        _d = op.join(netdir, d) 
        assert op.exists(_d)
        f = op.join(_d, f'{d}_all-envs_WGS84_clipped_{spp}.txt')
        print(f)
        df.reset_index(drop=False, inplace=True)  # this creates a 'lat' and a 'lon' column in the data
        df.to_csv(f, sep='\t', index=False)

NA_ENSEMBLE_rcp45_2050s-interior
/data/projects/pool_seq/environemental_data/new_netCDF_files/NA_ENSEMBLE_rcp45_2050s/NA_ENSEMBLE_rcp45_2050s_all-envs_WGS84_clipped_interior.txt
NA_ENSEMBLE_rcp45_2050s-combined
/data/projects/pool_seq/environemental_data/new_netCDF_files/NA_ENSEMBLE_rcp45_2050s/NA_ENSEMBLE_rcp45_2050s_all-envs_WGS84_clipped_combined.txt
NA_ENSEMBLE_rcp45_2050s-jp
/data/projects/pool_seq/environemental_data/new_netCDF_files/NA_ENSEMBLE_rcp45_2050s/NA_ENSEMBLE_rcp45_2050s_all-envs_WGS84_clipped_jp.txt
NA_ENSEMBLE_rcp45_2050s-wl
/data/projects/pool_seq/environemental_data/new_netCDF_files/NA_ENSEMBLE_rcp45_2050s/NA_ENSEMBLE_rcp45_2050s_all-envs_WGS84_clipped_wl.txt
NA_ENSEMBLE_rcp45_2050s-coastal
/data/projects/pool_seq/environemental_data/new_netCDF_files/NA_ENSEMBLE_rcp45_2050s/NA_ENSEMBLE_rcp45_2050s_all-envs_WGS84_clipped_coastal.txt
NA_ENSEMBLE_rcp45_2080s-interior
/data/projects/pool_seq/environemental_data/new_netCDF_files/NA_ENSEMBLE_rcp45_2080s/NA_ENSEMBLE_rcp45_2080s_all-envs_WGS84_clipped_interior.txt
NA_ENSEMBLE_rcp45_2080s-combined
/data/projects/pool_seq/environemental_data/new_netCDF_files/NA_ENSEMBLE_rcp45_2080s/NA_ENSEMBLE_rcp45_2080s_all-envs_WGS84_clipped_combined.txt
NA_ENSEMBLE_rcp45_2080s-jp
/data/projects/pool_seq/environemental_data/new_netCDF_files/NA_ENSEMBLE_rcp45_2080s/NA_ENSEMBLE_rcp45_2080s_all-envs_WGS84_clipped_jp.txt
NA_ENSEMBLE_rcp45_2080s-wl
/data/projects/pool_seq/environemental_data/new_netCDF_files/NA_ENSEMBLE_rcp45_2080s/NA_ENSEMBLE_rcp45_2080s_all-envs_WGS84_clipped_wl.txt
NA_ENSEMBLE_rcp45_2080s-coastal
/data/projects/pool_seq/environemental_data/new_netCDF_files/NA_ENSEMBLE_rcp45_2080s/NA_ENSEMBLE_rcp45_2080s_all-envs_WGS84_clipped_coastal.txt
NA_ENSEMBLE_rcp85_2050s-interior
/data/projects/pool_seq/environemental_data/new_netCDF_files/NA_ENSEMBLE_rcp85_2050s/NA_ENSEMBLE_rcp85_2050s_all-envs_WGS84_clipped_interior.txt
NA_ENSEMBLE_rcp85_2050s-combined
/data/projects/pool_seq/environemental_data/new_netCDF_files/NA_ENSEMBLE_rcp85_2050s/NA_ENSEMBLE_rcp85_2050s_all-envs_WGS84_clipped_combined.txt
NA_ENSEMBLE_rcp85_2050s-jp
/data/projects/pool_seq/environemental_data/new_netCDF_files/NA_ENSEMBLE_rcp85_2050s/NA_ENSEMBLE_rcp85_2050s_all-envs_WGS84_clipped_jp.txt
NA_ENSEMBLE_rcp85_2050s-wl
/data/projects/pool_seq/environemental_data/new_netCDF_files/NA_ENSEMBLE_rcp85_2050s/NA_ENSEMBLE_rcp85_2050s_all-envs_WGS84_clipped_wl.txt
NA_ENSEMBLE_rcp85_2050s-coastal
/data/projects/pool_seq/environemental_data/new_netCDF_files/NA_ENSEMBLE_rcp85_2050s/NA_ENSEMBLE_rcp85_2050s_all-envs_WGS84_clipped_coastal.txt
NA_ENSEMBLE_rcp85_2080s-interior
/data/projects/pool_seq/environemental_data/new_netCDF_files/NA_ENSEMBLE_rcp85_2080s/NA_ENSEMBLE_rcp85_2080s_all-envs_WGS84_clipped_interior.txt
NA_ENSEMBLE_rcp85_2080s-combined
/data/projects/pool_seq/environemental_data/new_netCDF_files/NA_ENSEMBLE_rcp85_2080s/NA_ENSEMBLE_rcp85_2080s_all-envs_WGS84_clipped_combined.txt
NA_ENSEMBLE_rcp85_2080s-jp
/data/projects/pool_seq/environemental_data/new_netCDF_files/NA_ENSEMBLE_rcp85_2080s/NA_ENSEMBLE_rcp85_2080s_all-envs_WGS84_clipped_jp.txt
NA_ENSEMBLE_rcp85_2080s-wl
/data/projects/pool_seq/environemental_data/new_netCDF_files/NA_ENSEMBLE_rcp85_2080s/NA_ENSEMBLE_rcp85_2080s_all-envs_WGS84_clipped_wl.txt
NA_ENSEMBLE_rcp85_2080s-coastal
/data/projects/pool_seq/environemental_data/new_netCDF_files/NA_ENSEMBLE_rcp85_2080s/NA_ENSEMBLE_rcp85_2080s_all-envs_WGS84_clipped_coastal.txt
NA_NORM_1961-1990-interior
/data/projects/pool_seq/environemental_data/new_netCDF_files/NA_NORM_1961-1990/NA_NORM_1961-1990_all-envs_WGS84_clipped_interior.txt
NA_NORM_1961-1990-combined
/data/projects/pool_seq/environemental_data/new_netCDF_files/NA_NORM_1961-1990/NA_NORM_1961-1990_all-envs_WGS84_clipped_combined.txt
NA_NORM_1961-1990-jp
/data/projects/pool_seq/environemental_data/new_netCDF_files/NA_NORM_1961-1990/NA_NORM_1961-1990_all-envs_WGS84_clipped_jp.txt
NA_NORM_1961-1990-wl
/data/projects/pool_seq/environemental_data/new_netCDF_files/NA_NORM_1961-1990/NA_NORM_1961-1990_all-envs_WGS84_clipped_wl.txt
NA_NORM_1961-1990-coastal
/data/projects/pool_seq/environemental_data/new_netCDF_files/NA_NORM_1961-1990/NA_NORM_1961-1990_all-envs_WGS84_clipped_coastal.txt

In [29]:
# create README

readme = op.join(netdir, 'README.txt')

with open(readme, 'w') as o:
    text = '''June 20, 2023 - Brandon Lind
The files within these folders were clipped to species' range shapefiles that had
added in polygons to account for populations outside of the canonical rangemaps downloaded online.

The other dir (../netCDF_files) were clipped using the canonical rangemap shapefiles.

The other other dir (../new_netCDF_files_before_revision) has same files as here but added elevation

Files were downloaded in February 2021. The proper reference is Wang et al 2016.
--------------------------
'''
    o.write(text)
    
print(read(readme, lines=False))

June 20, 2023 - Brandon Lind
The files within these folders were clipped to species' range shapefiles that had
added in polygons to account for populations outside of the canonical rangemaps downloaded online.

The other dir (../netCDF_files) were clipped using the canonical rangemap shapefiles.

The other other dir (../new_netCDF_files_before_revision) has same files as here but added elevation

Files were downloaded in February 2021. The proper reference is Wang et al 2016.
--------------------------

[top](#home)